<%= options.license ?? '' %>
<%= fileHeader %>@file:Suppress("all")
package <%= options.packageName %>

import androidx.compose.ui.graphics.Color
<%= options.import.map(function(item) {
    return 'import ' + item
  }).join('\n') %><%
  const TCHAP_EXTRA_TOKENS = [
    "bgBadgeSuccess",
    "bgBadgeWarning",
    "iconBadgeAccent",
    "iconBadgeCritical",
    "iconBadgeDefault",
    "iconBadgeExternal",
    "iconBadgeInfo",
    "iconBadgePrimary",
    "iconBadgeSecondary",
    "iconBadgeSuccess",
    "iconBadgeWarning",
    "textBadgeCritical",
    "textBadgeDefault",
    "textBadgePrimary",
    "textBadgeSecondary",
    "textBadgeSuccess",
    "textBadgeWarning",
  ];

  let colors = allTokens.map(function(prop) {
    return { name: options.fixColorName(prop.name), description: prop.description };
  });

  let standardColors = colors.filter(c => !TCHAP_EXTRA_TOKENS.includes(c.name));
  let tchapExtraColors = colors.filter(c => TCHAP_EXTRA_TOKENS.includes(c.name));

  let INDENT_LEVEL = options.indentLevel;
  let INDENT_2_LEVELS = INDENT_LEVEL + INDENT_LEVEL;
%>
/**
 * This class holds all the semantic tokens of the Compound theme.
 */
data class <%= options.className %>(
<%= standardColors.map(function(color) {
    let comment = "";
    if (color.description) {
      comment = INDENT_LEVEL + `/** ${color.description.replace("\n", " ")} */\n`
    }
    return comment + INDENT_LEVEL + 'val ' + color.name + ': Color,'
  }).join('\n')
%>
    /** True for light theme, false for dark theme. */
    val isLight: Boolean,
    val tchapExtraColors: TchapExtraColors,
) {
<%= tchapExtraColors.map(function(color) {
    return INDENT_LEVEL + 'val ' + color.name + ': Color get() = tchapExtraColors.' + color.name
  }).join('\n')
%>
}

/**
 * Tchap specific tokens.
 */
data class TchapExtraColors(
<%= tchapExtraColors.map(function(color) {
    let comment = "";
    if (color.description) {
      comment = INDENT_LEVEL + `/** ${color.description.replace("\n", " ")} */\n`
    }
    return comment + INDENT_LEVEL + 'val ' + color.name + ': Color,'
  }).join('\n')
%>
)
