:root {
  --cpd-color-text-primary: var(--cpd-color-gray-1400);
  --cpd-color-text-secondary: var(--cpd-color-gray-900);
  --cpd-color-text-disabled: var(--cpd-color-gray-800);
  --cpd-color-text-action-primary: var(--cpd-color-gray-1400);
  --cpd-color-text-action-accent: var(--cpd-color-blue-600);
  --cpd-color-text-link-external: var(--cpd-color-blue-1000);
  --cpd-color-text-critical-primary: var(--cpd-color-red-900);
  --cpd-color-text-success-primary: var(--cpd-color-green-1000);
  --cpd-color-text-info-primary: var(--cpd-color-blue-1100);
  --cpd-color-text-on-solid-primary: var(--cpd-color-gray-1400);
  --cpd-color-text-decorative-1: var(--cpd-color-green-1000);
  --cpd-color-text-decorative-2: var(--cpd-color-cyan-1000);
  --cpd-color-text-decorative-3: var(--cpd-color-fuchsia-1000);
  --cpd-color-text-decorative-4: var(--cpd-color-purple-1000);
  --cpd-color-text-decorative-5: var(--cpd-color-pink-1000);
  --cpd-color-text-decorative-6: var(--cpd-color-orange-1000);
  --cpd-color-text-badge-accent: var(--cpd-color-green-1100);
  --cpd-color-text-badge-info: var(--cpd-color-blue-1100);
  --cpd-color-bg-subtle-primary: var(--cpd-color-blue-300);
  --cpd-color-bg-subtle-secondary: var(--cpd-color-gray-300);
  --cpd-color-bg-canvas-default-level-1: var(--cpd-color-theme-bg);
  --cpd-color-bg-action-primary-rest: var(--cpd-color-blue-600);
  --cpd-color-bg-action-primary-hovered: var(--cpd-color-blue-700);
  --cpd-color-bg-action-primary-pressed: var(--cpd-color-blue-800);
  --cpd-color-bg-action-primary-disabled: var(--cpd-color-blue-900);
  --cpd-color-bg-action-secondary-rest: var(--cpd-color-theme-bg);
  --cpd-color-bg-action-secondary-hovered: var(--cpd-color-alpha-gray-200);
  --cpd-color-bg-action-secondary-pressed: var(--cpd-color-alpha-gray-300);
  --cpd-color-bg-accent-rest: var(--cpd-color-blue-600);
  --cpd-color-bg-accent-hovered: var(--cpd-color-blue-700);
  --cpd-color-bg-accent-pressed: var(--cpd-color-blue-800);
  --cpd-color-bg-accent-selected: var(--cpd-color-blue-800);
  --cpd-color-bg-subtle-secondary-level-0: var(--cpd-color-gray-300);
  --cpd-color-bg-badge-accent: var(--cpd-color-alpha-green-400);
  --cpd-color-bg-badge-info: var(--cpd-color-alpha-blue-400);
  --cpd-color-bg-badge-default: var(--cpd-color-alpha-gray-400);
  --cpd-color-icon-primary: var(--cpd-color-gray-1400);
  --cpd-color-icon-secondary: var(--cpd-color-gray-900);
  --cpd-color-icon-tertiary: var(--cpd-color-gray-800);
  --cpd-color-icon-quaternary: var(--cpd-color-gray-700);
  --cpd-color-icon-disabled: var(--cpd-color-gray-700);
  --cpd-color-icon-primary-alpha: var(--cpd-color-alpha-gray-1400);
  --cpd-color-icon-secondary-alpha: var(--cpd-color-alpha-gray-900);
  --cpd-color-icon-tertiary-alpha: var(--cpd-color-alpha-gray-800);
  --cpd-color-icon-quaternary-alpha: var(--cpd-color-alpha-gray-700);
  --cpd-color-icon-accent-tertiary: var(--cpd-color-blue-1000);
  --cpd-color-icon-accent-primary: var(--cpd-color-blue-1400);
  --cpd-color-icon-critical-primary: var(--cpd-color-red-600);
  --cpd-color-icon-success-primary: var(--cpd-color-blue-1200);
  --cpd-color-icon-info-primary: var(--cpd-color-blue-900);
  --cpd-color-icon-on-solid-primary: var(--cpd-color-gray-1400);
  --cpd-color-gradient-action-stop1: var(--cpd-color-blue-600);
  --cpd-color-gradient-action-stop2: var(--cpd-color-blue-600);
  --cpd-color-gradient-action-stop3: var(--cpd-color-blue-600);
  --cpd-color-gradient-action-stop4: var(--cpd-color-blue-600);
  --cpd-color-gradient-action-linear: linear-gradient(180deg, var(--cpd-color-gradient-action-stop1) 0%, var(--cpd-color-gradient-action-stop2) 33%, var(--cpd-color-gradient-action-stop3) 66%, var(--cpd-color-gradient-action-stop4) 100%);
}
