:root {
  --cpd-color-theme-bg: #101317;
  --cpd-color-gray-100: #1A1D27;
  --cpd-color-gray-200: #282D39;
  --cpd-color-gray-300: #393F50;
  --cpd-color-gray-400: #495064;
  --cpd-color-gray-500: #555E72;
  --cpd-color-gray-600: #646C80;
  --cpd-color-gray-700: #80899C;
  --cpd-color-gray-800: #A5ADBC;
  --cpd-color-gray-900: #BEC4D0;
  --cpd-color-gray-1000: #CED3DC;
  --cpd-color-gray-1100: #E2E6EA;
  --cpd-color-gray-1200: #F0F2F4;
  --cpd-color-gray-1300: #F7F8FA;
  --cpd-color-gray-1400: #FBFBFC;
  --cpd-color-red-100: #2D1816;
  --cpd-color-red-200: #462320;
  --cpd-color-red-300: #6D2927;
  --cpd-color-red-400: #902E2E;
  --cpd-color-red-500: #AE2D35;
  --cpd-color-red-600: #CF2834;
  --cpd-color-red-700: #F6494C;
  --cpd-color-red-800: #F79089;
  --cpd-color-red-900: #FFAFA9;
  --cpd-color-red-1000: #FFC4C0;
  --cpd-color-red-1100: #F9E0DD;
  --cpd-color-red-1200: #FFEEEC;
  --cpd-color-red-1300: #FFF6F5;
  --cpd-color-red-1400: #FFFAFA;
  --cpd-color-orange-100: #271B14;
  --cpd-color-orange-200: #3D281C;
  --cpd-color-orange-300: #5C361E;
  --cpd-color-orange-400: #784320;
  --cpd-color-orange-500: #8E4D16;
  --cpd-color-orange-600: #A75704;
  --cpd-color-orange-700: #D06F00;
  --cpd-color-orange-800: #F49639;
  --cpd-color-orange-900: #FFB36F;
  --cpd-color-orange-1000: #FEC898;
  --cpd-color-orange-1100: #F9E1CD;
  --cpd-color-orange-1200: #FFEFE1;
  --cpd-color-orange-1300: #FFF6EF;
  --cpd-color-orange-1400: #FFFBF7;
  --cpd-color-yellow-100: #241C14;
  --cpd-color-yellow-200: #372B1D;
  --cpd-color-yellow-300: #513B1E;
  --cpd-color-yellow-400: #684B20;
  --cpd-color-yellow-500: #7A5815;
  --cpd-color-yellow-600: #8D6504;
  --cpd-color-yellow-700: #AF8100;
  --cpd-color-yellow-800: #D4A60B;
  --cpd-color-yellow-900: #E8BF36;
  --cpd-color-yellow-1000: #F2D05F;
  --cpd-color-yellow-1100: #F6E5AA;
  --cpd-color-yellow-1200: #FDF2C9;
  --cpd-color-yellow-1300: #FEF8E2;
  --cpd-color-yellow-1400: #FCFBF8;
  --cpd-color-lime-100: #182016;
  --cpd-color-lime-200: #243020;
  --cpd-color-lime-300: #2F4524;
  --cpd-color-lime-400: #3C582B;
  --cpd-color-lime-500: #446728;
  --cpd-color-lime-600: #517724;
  --cpd-color-lime-700: #6E952F;
  --cpd-color-lime-800: #97B852;
  --cpd-color-lime-900: #B1CE6D;
  --cpd-color-lime-1000: #C2DD81;
  --cpd-color-lime-1100: #D9EE9F;
  --cpd-color-lime-1200: #E8F9B7;
  --cpd-color-lime-1300: #F3FCD9;
  --cpd-color-lime-1400: #F9FDEB;
  --cpd-color-green-100: #171F1E;
  --cpd-color-green-200: #232F2D;
  --cpd-color-green-300: #2A443F;
  --cpd-color-green-400: #33574F;
  --cpd-color-green-500: #36665B;
  --cpd-color-green-600: #3A7765;
  --cpd-color-green-700: #4E967C;
  --cpd-color-green-800: #74BB99;
  --cpd-color-green-900: #90D1AF;
  --cpd-color-green-1000: #A3E0BD;
  --cpd-color-green-1100: #CBEED7;
  --cpd-color-green-1200: #E0F8E8;
  --cpd-color-green-1300: #EEFBF2;
  --cpd-color-green-1400: #F6FDF8;
  --cpd-color-cyan-100: #171E29;
  --cpd-color-cyan-200: #212D40;
  --cpd-color-cyan-300: #284063;
  --cpd-color-cyan-400: #2F5182;
  --cpd-color-cyan-500: #325E9C;
  --cpd-color-cyan-600: #326CB9;
  --cpd-color-cyan-700: #478ADF;
  --cpd-color-cyan-800: #7CAFF1;
  --cpd-color-cyan-900: #9BC7FD;
  --cpd-color-cyan-1000: #B4D5FE;
  --cpd-color-cyan-1100: #D8E7F9;
  --cpd-color-cyan-1200: #E9F3FF;
  --cpd-color-cyan-1300: #F3F8FF;
  --cpd-color-cyan-1400: #F9FCFF;
  --cpd-color-blue-100: #141D32;
  --cpd-color-blue-200: #1C2C51;
  --cpd-color-blue-300: #213A82;
  --cpd-color-blue-400: #2A47AE;
  --cpd-color-blue-500: #3451D0;
  --cpd-color-blue-600: #4460DF;
  --cpd-color-blue-700: #6380F7;
  --cpd-color-blue-800: #94A9F7;
  --cpd-color-blue-900: #B1C1FF;
  --cpd-color-blue-1000: #C5D1FF;
  --cpd-color-blue-1100: #E0E5F9;
  --cpd-color-blue-1200: #EFF1FF;
  --cpd-color-blue-1300: #F6F8FF;
  --cpd-color-blue-1400: #FAFBFF;
  --cpd-color-purple-100: #221A2C;
  --cpd-color-purple-200: #352646;
  --cpd-color-purple-300: #50306F;
  --cpd-color-purple-400: #693994;
  --cpd-color-purple-500: #7E3DB4;
  --cpd-color-purple-600: #9244D3;
  --cpd-color-purple-700: #AD67F0;
  --cpd-color-purple-800: #C599F7;
  --cpd-color-purple-900: #D7B5FF;
  --cpd-color-purple-1000: #E1C8FE;
  --cpd-color-purple-1100: #EBE1F9;
  --cpd-color-purple-1200: #F6EFFF;
  --cpd-color-purple-1300: #FAF6FF;
  --cpd-color-purple-1400: #FCFBFF;
  --cpd-color-fuchsia-100: #34004c;
  --cpd-color-fuchsia-200: #4e0068;
  --cpd-color-fuchsia-300: #671481;
  --cpd-color-fuchsia-400: #822198;
  --cpd-color-fuchsia-500: #972aaa;
  --cpd-color-fuchsia-600: #ad33bd;
  --cpd-color-fuchsia-700: #c85ed1;
  --cpd-color-fuchsia-800: #db93e1;
  --cpd-color-fuchsia-900: #e7b2ea;
  --cpd-color-fuchsia-1000: #edc6f0;
  --cpd-color-fuchsia-1100: #f6dff7;
  --cpd-color-fuchsia-1200: #faeefb;
  --cpd-color-fuchsia-1300: #fcf5fd;
  --cpd-color-fuchsia-1400: #fefafe;
  --cpd-color-pink-100: #28191F;
  --cpd-color-pink-200: #3E2631;
  --cpd-color-pink-300: #5F3047;
  --cpd-color-pink-400: #7C3A5B;
  --cpd-color-pink-500: #95406D;
  --cpd-color-pink-600: #B04481;
  --cpd-color-pink-700: #D85CA3;
  --cpd-color-pink-800: #EA91C2;
  --cpd-color-pink-900: #F7AED6;
  --cpd-color-pink-1000: #FBC2E1;
  --cpd-color-pink-1100: #F9DEED;
  --cpd-color-pink-1200: #FFEDF7;
  --cpd-color-pink-1300: #FFF5FB;
  --cpd-color-pink-1400: #FFFAFD;
  --cpd-color-alpha-gray-100: hsla(223, 64%, 2%, 0.9);
  --cpd-color-alpha-gray-200: hsla(225, 57%, 3%, 0.84);
  --cpd-color-alpha-gray-300: hsla(213, 73%, 3%, 0.77);
  --cpd-color-alpha-gray-400: hsla(215, 74%, 5%, 0.71);
  --cpd-color-alpha-gray-500: hsla(218, 79%, 6%, 0.66);
  --cpd-color-alpha-gray-600: hsla(213, 83%, 7%, 0.61);
  --cpd-color-alpha-gray-700: hsla(213, 87%, 9%, 0.5);
  --cpd-color-alpha-gray-800: hsla(215, 96%, 10%, 0.35);
  --cpd-color-alpha-gray-900: hsla(212, 97%, 12%, 0.26);
  --cpd-color-alpha-gray-1000: hsla(212, 87%, 15%, 0.2);
  --cpd-color-alpha-gray-1100: hsla(213, 90%, 20%, 0.12);
  --cpd-color-alpha-gray-1200: hsla(216, 89%, 18%, 0.06);
  --cpd-color-alpha-gray-1300: hsla(200, 41%, 36%, 0.04);
  --cpd-color-alpha-gray-1400: hsla(210, 48%, 41%, 0.02);
  --cpd-color-alpha-red-100: hsl(0, 100%, 14%, 1);
  --cpd-color-alpha-red-200: hsl(0, 100%, 19%, 1);
  --cpd-color-alpha-red-300: hsl(357, 100%, 26%, 1);
  --cpd-color-alpha-red-400: hsla(350, 99%, 32%, 0.99);
  --cpd-color-alpha-red-500: hsla(353, 98%, 37%, 0.95);
  --cpd-color-alpha-red-600: hsla(355, 98%, 41%, 0.91);
  --cpd-color-alpha-red-700: hsla(0, 100%, 51%, 0.77);
  --cpd-color-alpha-red-800: hsla(5, 100%, 51%, 0.5);
  --cpd-color-alpha-red-900: hsla(7, 100%, 51%, 0.36);
  --cpd-color-alpha-red-1000: hsla(8, 100%, 51%, 0.27);
  --cpd-color-alpha-red-1100: hsla(8, 100%, 52%, 0.15);
  --cpd-color-alpha-red-1200: hsla(9, 100%, 54%, 0.08);
  --cpd-color-alpha-red-1300: hsla(7, 100%, 56%, 0.04);
  --cpd-color-alpha-red-1400: hsla(10, 100%, 61%, 0.03);
  --cpd-color-alpha-orange-100: hsl(0, 100%, 14%, 1);
  --cpd-color-alpha-orange-200: hsl(0, 100%, 19%, 1);
  --cpd-color-alpha-orange-300: hsl(0, 100%, 26%, 1);
  --cpd-color-alpha-orange-400: hsl(13, 100%, 30%, 1);
  --cpd-color-alpha-orange-500: hsl(18, 100%, 34%, 1);
  --cpd-color-alpha-orange-600: hsl(22, 100%, 37%, 1);
  --cpd-color-alpha-orange-700: hsl(28, 100%, 43%, 1);
  --cpd-color-alpha-orange-800: hsla(27, 100%, 48%, 0.75);
  --cpd-color-alpha-orange-900: hsla(26, 98%, 50%, 0.52);
  --cpd-color-alpha-orange-1000: hsla(25, 100%, 50%, 0.37);
  --cpd-color-alpha-orange-1100: hsla(25, 100%, 51%, 0.22);
  --cpd-color-alpha-orange-1200: hsla(24, 100%, 52%, 0.11);
  --cpd-color-alpha-orange-1300: hsla(26, 100%, 55%, 0.07);
  --cpd-color-alpha-orange-1400: hsla(22, 100%, 61%, 0.04);
  --cpd-color-alpha-yellow-100: hsl(6, 100%, 13%, 1);
  --cpd-color-alpha-yellow-200: hsl(19, 100%, 17%, 1);
  --cpd-color-alpha-yellow-300: hsl(26, 100%, 21%, 1);
  --cpd-color-alpha-yellow-400: hsl(30, 100%, 25%, 1);
  --cpd-color-alpha-yellow-500: hsl(32, 100%, 28%, 1);
  --cpd-color-alpha-yellow-600: hsl(34, 100%, 31%, 1);
  --cpd-color-alpha-yellow-700: hsl(39, 100%, 37%, 1);
  --cpd-color-alpha-yellow-800: hsl(44, 100%, 44%, 1);
  --cpd-color-alpha-yellow-900: hsl(47, 100%, 47%, 1);
  --cpd-color-alpha-yellow-1000: hsl(49, 100%, 49%, 1);
  --cpd-color-alpha-yellow-1100: hsla(47, 100%, 51%, 0.49);
  --cpd-color-alpha-yellow-1200: hsla(47, 100%, 51%, 0.25);
  --cpd-color-alpha-yellow-1300: hsla(46, 100%, 53%, 0.13);
  --cpd-color-alpha-yellow-1400: hsla(48, 100%, 51%, 0.06);
  --cpd-color-alpha-lime-100: hsl(120, 100%, 7%, 1);
  --cpd-color-alpha-lime-200: hsl(120, 100%, 11%, 1);
  --cpd-color-alpha-lime-300: hsl(120, 100%, 15%, 1);
  --cpd-color-alpha-lime-400: hsl(120, 100%, 19%, 1);
  --cpd-color-alpha-lime-500: hsl(120, 100%, 22%, 1);
  --cpd-color-alpha-lime-600: hsla(113, 97%, 24%, 0.96);
  --cpd-color-alpha-lime-700: hsla(107, 99%, 29%, 0.91);
  --cpd-color-alpha-lime-800: hsla(102, 100%, 37%, 0.86);
  --cpd-color-alpha-lime-900: hsla(102, 97%, 41%, 0.71);
  --cpd-color-alpha-lime-1000: hsla(104, 98%, 40%, 0.51);
  --cpd-color-alpha-lime-1100: hsla(105, 92%, 42%, 0.28);
  --cpd-color-alpha-lime-1200: hsla(107, 98%, 41%, 0.15);
  --cpd-color-alpha-lime-1300: hsla(107, 89%, 44%, 0.07);
  --cpd-color-alpha-lime-1400: hsla(103, 75%, 46%, 0.04);
  --cpd-color-alpha-green-100: hsl(149, 100%, 7%, 1);
  --cpd-color-alpha-green-200: hsl(157, 100%, 10%, 1);
  --cpd-color-alpha-green-300: hsl(162, 100%, 14%, 1);
  --cpd-color-alpha-green-400: hsl(165, 100%, 18%, 1);
  --cpd-color-alpha-green-500: hsl(166, 100%, 21%, 1);
  --cpd-color-alpha-green-600: hsl(168, 100%, 24%, 1);
  --cpd-color-alpha-green-700: hsl(166, 100%, 30%, 1);
  --cpd-color-alpha-green-800: hsla(163, 99%, 38%, 0.96);
  --cpd-color-alpha-green-900: hsla(156, 99%, 36%, 0.56);
  --cpd-color-alpha-green-1000: hsla(154, 96%, 37%, 0.41);
  --cpd-color-alpha-green-1100: hsla(151, 93%, 37%, 0.23);
  --cpd-color-alpha-green-1200: hsla(150, 100%, 36%, 0.11);
  --cpd-color-alpha-green-1300: hsla(150, 79%, 41%, 0.06);
  --cpd-color-alpha-green-1400: hsla(156, 79%, 41%, 0.03);
  --cpd-color-alpha-cyan-100: hsl(221, 100%, 16%, 1);
  --cpd-color-alpha-cyan-200: hsl(213, 100%, 19%, 1);
  --cpd-color-alpha-cyan-300: hsl(208, 100%, 23%, 1);
  --cpd-color-alpha-cyan-400: hsl(204, 100%, 28%, 1);
  --cpd-color-alpha-cyan-500: hsl(202, 100%, 31%, 1);
  --cpd-color-alpha-cyan-600: hsl(200, 100%, 34%, 1);
  --cpd-color-alpha-cyan-700: hsl(194, 100%, 38%, 1);
  --cpd-color-alpha-cyan-800: hsla(186, 99%, 40%, 0.92);
  --cpd-color-alpha-cyan-900: hsla(187, 99%, 38%, 0.54);
  --cpd-color-alpha-cyan-1000: hsla(186, 95%, 38%, 0.4);
  --cpd-color-alpha-cyan-1100: hsla(186, 100%, 37%, 0.22);
  --cpd-color-alpha-cyan-1200: hsla(188, 100%, 38%, 0.11);
  --cpd-color-alpha-cyan-1300: hsla(186, 79%, 41%, 0.06);
  --cpd-color-alpha-cyan-1400: hsla(180, 79%, 41%, 0.03);
  --cpd-color-alpha-blue-100: hsl(232, 100%, 20%, 1);
  --cpd-color-alpha-blue-200: hsl(222, 98%, 24%, 1);
  --cpd-color-alpha-blue-300: hsla(218, 99%, 29%, 0.99);
  --cpd-color-alpha-blue-400: hsla(216, 99%, 35%, 0.98);
  --cpd-color-alpha-blue-500: hsla(214, 98%, 39%, 0.99);
  --cpd-color-alpha-blue-600: hsla(213, 99%, 44%, 0.99);
  --cpd-color-alpha-blue-700: hsla(215, 100%, 46%, 0.75);
  --cpd-color-alpha-blue-800: hsla(215, 98%, 47%, 0.51);
  --cpd-color-alpha-blue-900: hsla(216, 95%, 48%, 0.37);
  --cpd-color-alpha-blue-1000: hsla(215, 93%, 50%, 0.28);
  --cpd-color-alpha-blue-1100: hsla(216, 95%, 51%, 0.16);
  --cpd-color-alpha-blue-1200: hsla(215, 100%, 52%, 0.09);
  --cpd-color-alpha-blue-1300: hsla(218, 100%, 57%, 0.05);
  --cpd-color-alpha-blue-1400: hsla(210, 100%, 61%, 0.03);
  --cpd-color-alpha-purple-100: hsl(259, 100%, 20%, 1);
  --cpd-color-alpha-purple-200: hsl(262, 100%, 28%, 1);
  --cpd-color-alpha-purple-300: hsla(264, 98%, 36%, 0.99);
  --cpd-color-alpha-purple-400: hsla(260, 97%, 39%, 0.86);
  --cpd-color-alpha-purple-500: hsla(259, 98%, 42%, 0.79);
  --cpd-color-alpha-purple-600: hsla(258, 98%, 47%, 0.73);
  --cpd-color-alpha-purple-700: hsla(254, 99%, 49%, 0.56);
  --cpd-color-alpha-purple-800: hsla(251, 100%, 51%, 0.38);
  --cpd-color-alpha-purple-900: hsla(249, 100%, 51%, 0.27);
  --cpd-color-alpha-purple-1000: hsla(248, 100%, 51%, 0.2);
  --cpd-color-alpha-purple-1100: hsla(248, 100%, 53%, 0.12);
  --cpd-color-alpha-purple-1200: hsla(248, 100%, 55%, 0.07);
  --cpd-color-alpha-purple-1300: hsla(248, 100%, 61%, 0.04);
  --cpd-color-alpha-purple-1400: hsla(240, 100%, 61%, 0.02);
  --cpd-color-alpha-fuchsia-100: hsl(281, 100%, 15%, 1);
  --cpd-color-alpha-fuchsia-200: hsl(285, 100%, 20%, 1);
  --cpd-color-alpha-fuchsia-300: hsla(286, 97%, 24%, 0.93);
  --cpd-color-alpha-fuchsia-400: hsla(289, 96%, 28%, 0.88);
  --cpd-color-alpha-fuchsia-500: hsla(291, 99%, 30%, 0.84);
  --cpd-color-alpha-fuchsia-600: hsla(293, 100%, 34%, 0.8);
  --cpd-color-alpha-fuchsia-700: hsla(295, 97%, 37%, 0.64);
  --cpd-color-alpha-fuchsia-800: hsla(295, 96%, 37%, 0.43);
  --cpd-color-alpha-fuchsia-900: hsla(297, 93%, 38%, 0.31);
  --cpd-color-alpha-fuchsia-1000: hsla(296, 93%, 39%, 0.23);
  --cpd-color-alpha-fuchsia-1100: hsla(298, 91%, 40%, 0.13);
  --cpd-color-alpha-fuchsia-1200: hsla(295, 89%, 41%, 0.07);
  --cpd-color-alpha-fuchsia-1300: hsla(293, 95%, 41%, 0.04);
  --cpd-color-alpha-fuchsia-1400: hsla(300, 95%, 41%, 0.02);
  --cpd-color-alpha-pink-100: hsl(339, 100%, 13%, 1);
  --cpd-color-alpha-pink-200: hsl(333, 100%, 19%, 1);
  --cpd-color-alpha-pink-300: hsla(330, 98%, 24%, 0.98);
  --cpd-color-alpha-pink-400: hsla(331, 100%, 31%, 0.97);
  --cpd-color-alpha-pink-500: hsla(332, 98%, 36%, 0.97);
  --cpd-color-alpha-pink-600: hsla(333, 98%, 41%, 0.96);
  --cpd-color-alpha-pink-700: hsla(340, 100%, 48%, 0.75);
  --cpd-color-alpha-pink-800: hsla(345, 100%, 50%, 0.47);
  --cpd-color-alpha-pink-900: hsla(346, 100%, 51%, 0.33);
  --cpd-color-alpha-pink-1000: hsla(347, 100%, 50%, 0.24);
  --cpd-color-alpha-pink-1100: hsla(347, 100%, 50%, 0.13);
  --cpd-color-alpha-pink-1200: hsla(347, 100%, 54%, 0.08);
  --cpd-color-alpha-pink-1300: hsla(348, 100%, 51%, 0.04);
  --cpd-color-alpha-pink-1400: hsla(348, 100%, 51%, 0.02);
  --cpd-color-transparent: rgba(0,0,0,0);
}
