.cpd-theme-dark.cpd-theme-dark {
  --cpd-color-theme-bg: #101317;
  --cpd-color-gray-100: #1A1D26;
  --cpd-color-gray-200: #282D39;
  --cpd-color-gray-300: #3A3F4F;
  --cpd-color-gray-400: #485065;
  --cpd-color-gray-500: #555E74;
  --cpd-color-gray-600: #646C82;
  --cpd-color-gray-700: #80899C;
  --cpd-color-gray-800: #A6ADBD;
  --cpd-color-gray-900: #BEC4CF;
  --cpd-color-gray-1000: #CDD3DC;
  --cpd-color-gray-1100: #E3E5EC;
  --cpd-color-gray-1200: #EFF2F5;
  --cpd-color-gray-1300: #F6F8F9;
  --cpd-color-gray-1400: #FAFBFC;
  --cpd-color-red-100: #2C1816;
  --cpd-color-red-200: #4B201E;
  --cpd-color-red-300: #6B2B29;
  --cpd-color-red-400: #9A2126;
  --cpd-color-red-500: #BC0F23;
  --cpd-color-red-600: #D02532;
  --cpd-color-red-700: #F74852;
  --cpd-color-red-800: #FF8B86;
  --cpd-color-red-900: #FBB0AB;
  --cpd-color-red-1000: #FDC5C0;
  --cpd-color-red-1100: #FFDEDB;
  --cpd-color-red-1200: #FFEEEC;
  --cpd-color-red-1300: #FFF6F5;
  --cpd-color-red-1400: #FFFAFA;
  --cpd-color-orange-100: #281A15;
  --cpd-color-orange-200: #402718;
  --cpd-color-orange-300: #5B3620;
  --cpd-color-orange-400: #7E4012;
  --cpd-color-orange-500: #974700;
  --cpd-color-orange-600: #A85603;
  --cpd-color-orange-700: #CB7314;
  --cpd-color-orange-800: #F59629;
  --cpd-color-orange-900: #FBB476;
  --cpd-color-orange-1000: #FDC89B;
  --cpd-color-orange-1100: #FFE0C5;
  --cpd-color-orange-1200: #FFEFE1;
  --cpd-color-orange-1300: #FFF6EF;
  --cpd-color-orange-1400: #FFFBF7;
  --cpd-color-yellow-100: #241C14;
  --cpd-color-yellow-200: #382A18;
  --cpd-color-yellow-300: #513B20;
  --cpd-color-yellow-400: #6B4A11;
  --cpd-color-yellow-500: #7F5600;
  --cpd-color-yellow-600: #8E6402;
  --cpd-color-yellow-700: #AC8312;
  --cpd-color-yellow-800: #D2A71B;
  --cpd-color-yellow-900: #E7BF43;
  --cpd-color-yellow-1000: #F1D060;
  --cpd-color-yellow-1100: #FBE49A;
  --cpd-color-yellow-1200: #FDF2C9;
  --cpd-color-yellow-1300: #FEF8E2;
  --cpd-color-yellow-1400: #FEFBF0;
  --cpd-color-lime-100: #182015;
  --cpd-color-lime-200: #21311B;
  --cpd-color-lime-300: #304526;
  --cpd-color-lime-400: #39591F;
  --cpd-color-lime-500: #416819;
  --cpd-color-lime-600: #4E7723;
  --cpd-color-lime-700: #6F943A;
  --cpd-color-lime-800: #96B857;
  --cpd-color-lime-900: #B2CE72;
  --cpd-color-lime-1000: #C3DC85;
  --cpd-color-lime-1100: #D9EEA2;
  --cpd-color-lime-1200: #E8F9B7;
  --cpd-color-lime-1300: #F3FCD9;
  --cpd-color-lime-1400: #F9FDEB;
  --cpd-color-green-100: #171F1E;
  --cpd-color-green-200: #1F302D;
  --cpd-color-green-300: #2A4440;
  --cpd-color-green-400: #2B584E;
  --cpd-color-green-500: #2B6859;
  --cpd-color-green-600: #387765;
  --cpd-color-green-700: #53957F;
  --cpd-color-green-800: #76BA9D;
  --cpd-color-green-900: #93D1B0;
  --cpd-color-green-1000: #A3E0BE;
  --cpd-color-green-1100: #C2F0D4;
  --cpd-color-green-1200: #E0F8E8;
  --cpd-color-green-1300: #EEFBF2;
  --cpd-color-green-1400: #F6FDF8;
  --cpd-color-cyan-100: #161E29;
  --cpd-color-cyan-200: #1E2D45;
  --cpd-color-cyan-300: #284061;
  --cpd-color-cyan-400: #27508C;
  --cpd-color-cyan-500: #265DA9;
  --cpd-color-cyan-600: #326CBC;
  --cpd-color-cyan-700: #498ADE;
  --cpd-color-cyan-800: #79AFF4;
  --cpd-color-cyan-900: #9DC7FA;
  --cpd-color-cyan-1000: #B5D5FD;
  --cpd-color-cyan-1100: #D3E7FF;
  --cpd-color-cyan-1200: #E9F3FF;
  --cpd-color-cyan-1300: #F3F8FF;
  --cpd-color-cyan-1400: #F9FCFF;
  --cpd-color-blue-100: #141D32;
  --cpd-color-blue-200: #192B58;
  --cpd-color-blue-300: #243A80;
  --cpd-color-blue-400: #2743BC;
  --cpd-color-blue-500: #304DDE;
  --cpd-color-blue-600: #3E5DE7;
  --cpd-color-blue-700: #6480F7;
  --cpd-color-blue-800: #92A8FF;
  --cpd-color-blue-900: #B2C1FB;
  --cpd-color-blue-1000: #C6D1FD;
  --cpd-color-blue-1100: #DDE5FF;
  --cpd-color-blue-1200: #EFF1FF;
  --cpd-color-blue-1300: #F6F8FF;
  --cpd-color-blue-1400: #FAFBFF;
  --cpd-color-purple-100: #231A2C;
  --cpd-color-purple-200: #38244D;
  --cpd-color-purple-300: #50316D;
  --cpd-color-purple-400: #6D32A1;
  --cpd-color-purple-500: #8430C7;
  --cpd-color-purple-600: #943FDB;
  --cpd-color-purple-700: #AF66F1;
  --cpd-color-purple-800: #C996FE;
  --cpd-color-purple-900: #D6B6FB;
  --cpd-color-purple-1000: #E0C9FC;
  --cpd-color-purple-1100: #EEE0FF;
  --cpd-color-purple-1200: #F6EFFF;
  --cpd-color-purple-1300: #FAF6FF;
  --cpd-color-purple-1400: #FCFBFF;
  --cpd-color-fuchsia-100: #34004c;
  --cpd-color-fuchsia-200: #4e0068;
  --cpd-color-fuchsia-300: #671481;
  --cpd-color-fuchsia-400: #822198;
  --cpd-color-fuchsia-500: #972aaa;
  --cpd-color-fuchsia-600: #ad33bd;
  --cpd-color-fuchsia-700: #c85ed1;
  --cpd-color-fuchsia-800: #db93e1;
  --cpd-color-fuchsia-900: #e7b2ea;
  --cpd-color-fuchsia-1000: #edc6f0;
  --cpd-color-fuchsia-1100: #f6dff7;
  --cpd-color-fuchsia-1200: #faeefb;
  --cpd-color-fuchsia-1300: #fcf5fd;
  --cpd-color-fuchsia-1400: #fefafe;
  --cpd-color-pink-100: #28191F;
  --cpd-color-pink-200: #422331;
  --cpd-color-pink-300: #5E3147;
  --cpd-color-pink-400: #84345E;
  --cpd-color-pink-500: #9F3670;
  --cpd-color-pink-600: #B14381;
  --cpd-color-pink-700: #D45FA3;
  --cpd-color-pink-800: #ED8EC4;
  --cpd-color-pink-900: #F3AFD6;
  --cpd-color-pink-1000: #FAC3E1;
  --cpd-color-pink-1100: #FFDCEF;
  --cpd-color-pink-1200: #FFEDF7;
  --cpd-color-pink-1300: #FFF5FB;
  --cpd-color-pink-1400: #FFFAFD;
  --cpd-color-alpha-gray-100: hsla(214, 10%, 86%, 0.02);
  --cpd-color-alpha-gray-200: hsla(286, 31%, 82%, 0.04);
  --cpd-color-alpha-gray-300: hsla(280, 41%, 90%, 0.06);
  --cpd-color-alpha-gray-400: hsla(270, 37%, 93%, 0.1);
  --cpd-color-alpha-gray-500: hsla(214, 41%, 97%, 0.15);
  --cpd-color-alpha-gray-600: hsla(225, 46%, 95%, 0.2);
  --cpd-color-alpha-gray-700: hsla(213, 85%, 95%, 0.27);
  --cpd-color-alpha-gray-800: hsla(216, 100%, 94%, 0.41);
  --cpd-color-alpha-gray-900: hsla(211, 94%, 94%, 0.54);
  --cpd-color-alpha-gray-1000: hsla(213, 93%, 94%, 0.61);
  --cpd-color-alpha-gray-1100: hsla(215, 92%, 95%, 0.68);
  --cpd-color-alpha-gray-1200: hsla(215, 74%, 96%, 0.79);
  --cpd-color-alpha-gray-1300: hsla(213, 73%, 97%, 0.89);
  --cpd-color-alpha-gray-1400: hsla(214, 78%, 98%, 0.95);
  --cpd-color-alpha-red-100: hsl(0, 100%, 11%, 1);
  --cpd-color-alpha-red-200: hsl(0, 100%, 12%, 1);
  --cpd-color-alpha-red-300: hsl(0, 100%, 14%, 1);
  --cpd-color-alpha-red-400: hsl(0, 100%, 18%, 1);
  --cpd-color-alpha-red-500: hsl(0, 100%, 22%, 1);
  --cpd-color-alpha-red-600: hsl(356, 100%, 26%, 1);
  --cpd-color-alpha-red-700: hsla(354, 99%, 52%, 0.6);
  --cpd-color-alpha-red-800: hsla(357, 99%, 57%, 0.81);
  --cpd-color-alpha-red-900: hsl(1, 98%, 61%, 1);
  --cpd-color-alpha-red-1000: hsl(3, 100%, 68%, 1);
  --cpd-color-alpha-red-1100: hsl(5, 100%, 74%, 1);
  --cpd-color-alpha-red-1200: hsl(7, 100%, 82%, 1);
  --cpd-color-alpha-red-1300: hsl(8, 100%, 90%, 1);
  --cpd-color-alpha-red-1400: hsl(7, 100%, 95%, 1);
  --cpd-color-alpha-orange-100: hsl(0, 100%, 11%, 1);
  --cpd-color-alpha-orange-200: hsl(0, 100%, 12%, 1);
  --cpd-color-alpha-orange-300: hsl(0, 100%, 14%, 1);
  --cpd-color-alpha-orange-400: hsl(0, 100%, 17%, 1);
  --cpd-color-alpha-orange-500: hsl(0, 100%, 22%, 1);
  --cpd-color-alpha-orange-600: hsl(2, 100%, 26%, 1);
  --cpd-color-alpha-orange-700: hsla(12, 100%, 39%, 0.74);
  --cpd-color-alpha-orange-800: hsla(21, 100%, 50%, 0.71);
  --cpd-color-alpha-orange-900: hsla(26, 99%, 52%, 0.85);
  --cpd-color-alpha-orange-1000: hsla(29, 99%, 53%, 0.92);
  --cpd-color-alpha-orange-1100: hsla(27, 98%, 62%, 0.97);
  --cpd-color-alpha-orange-1200: hsla(26, 97%, 75%, 0.99);
  --cpd-color-alpha-orange-1300: hsl(24, 100%, 86%, 1);
  --cpd-color-alpha-orange-1400: hsl(25, 100%, 93%, 1);
  --cpd-color-alpha-yellow-100: hsl(0, 100%, 11%, 1);
  --cpd-color-alpha-yellow-200: hsl(3, 100%, 11%, 1);
  --cpd-color-alpha-yellow-300: hsl(8, 100%, 13%, 1);
  --cpd-color-alpha-yellow-400: hsl(16, 100%, 15%, 1);
  --cpd-color-alpha-yellow-500: hsl(23, 100%, 18%, 1);
  --cpd-color-alpha-yellow-600: hsla(26, 100%, 23%, 0.87);
  --cpd-color-alpha-yellow-700: hsla(30, 100%, 26%, 0.92);
  --cpd-color-alpha-yellow-800: hsl(35, 100%, 31%, 1);
  --cpd-color-alpha-yellow-900: hsl(39, 100%, 37%, 1);
  --cpd-color-alpha-yellow-1000: hsl(41, 100%, 40%, 1);
  --cpd-color-alpha-yellow-1100: hsl(44, 100%, 43%, 1);
  --cpd-color-alpha-yellow-1200: hsla(46, 98%, 52%, 0.94);
  --cpd-color-alpha-yellow-1300: hsl(47, 99%, 67%, 1);
  --cpd-color-alpha-yellow-1400: hsl(46, 100%, 85%, 1);
  --cpd-color-alpha-lime-100: hsl(120, 100%, 5%, 1);
  --cpd-color-alpha-lime-200: hsl(120, 100%, 6%, 1);
  --cpd-color-alpha-lime-300: hsl(120, 100%, 8%, 1);
  --cpd-color-alpha-lime-400: hsl(120, 100%, 9%, 1);
  --cpd-color-alpha-lime-500: hsl(120, 100%, 12%, 1);
  --cpd-color-alpha-lime-600: hsl(120, 100%, 15%, 1);
  --cpd-color-alpha-lime-700: hsl(120, 100%, 18%, 1);
  --cpd-color-alpha-lime-800: hsla(112, 98%, 52%, 0.45);
  --cpd-color-alpha-lime-900: hsla(107, 98%, 57%, 0.58);
  --cpd-color-alpha-lime-1000: hsla(105, 97%, 58%, 0.66);
  --cpd-color-alpha-lime-1100: hsla(102, 98%, 60%, 0.74);
  --cpd-color-alpha-lime-1200: hsla(102, 100%, 68%, 0.84);
  --cpd-color-alpha-lime-1300: hsla(104, 100%, 84%, 0.92);
  --cpd-color-alpha-lime-1400: hsla(105, 91%, 92%, 0.97);
  --cpd-color-alpha-green-100: hsl(144, 100%, 6%, 1);
  --cpd-color-alpha-green-200: hsl(147, 100%, 6%, 1);
  --cpd-color-alpha-green-300: hsl(151, 100%, 7%, 1);
  --cpd-color-alpha-green-400: hsl(155, 100%, 9%, 1);
  --cpd-color-alpha-green-500: hsl(160, 100%, 12%, 1);
  --cpd-color-alpha-green-600: hsl(162, 100%, 14%, 1);
  --cpd-color-alpha-green-700: hsl(165, 100%, 18%, 1);
  --cpd-color-alpha-green-800: hsl(168, 100%, 24%, 1);
  --cpd-color-alpha-green-900: hsla(164, 98%, 53%, 0.58);
  --cpd-color-alpha-green-1000: hsla(163, 99%, 55%, 0.65);
  --cpd-color-alpha-green-1100: hsla(162, 98%, 57%, 0.74);
  --cpd-color-alpha-green-1200: hsla(156, 97%, 76%, 0.83);
  --cpd-color-alpha-green-1300: hsla(152, 93%, 88%, 0.91);
  --cpd-color-alpha-green-1400: hsla(152, 88%, 94%, 0.96);
  --cpd-color-alpha-cyan-100: hsl(225, 100%, 13%, 1);
  --cpd-color-alpha-cyan-200: hsl(223, 100%, 14%, 1);
  --cpd-color-alpha-cyan-300: hsl(219, 100%, 15%, 1);
  --cpd-color-alpha-cyan-400: hsl(215, 100%, 18%, 1);
  --cpd-color-alpha-cyan-500: hsl(210, 100%, 20%, 1);
  --cpd-color-alpha-cyan-600: hsl(208, 100%, 23%, 1);
  --cpd-color-alpha-cyan-700: hsl(204, 100%, 27%, 1);
  --cpd-color-alpha-cyan-800: hsla(200, 100%, 37%, 0.88);
  --cpd-color-alpha-cyan-900: hsl(194, 100%, 37%, 1);
  --cpd-color-alpha-cyan-1000: hsla(189, 100%, 44%, 0.88);
  --cpd-color-alpha-cyan-1100: hsla(186, 98%, 57%, 0.79);
  --cpd-color-alpha-cyan-1200: hsla(187, 100%, 77%, 0.85);
  --cpd-color-alpha-cyan-1300: hsla(187, 93%, 89%, 0.92);
  --cpd-color-alpha-cyan-1400: hsla(187, 93%, 94%, 0.96);
  --cpd-color-alpha-blue-100: hsl(237, 100%, 18%, 1);
  --cpd-color-alpha-blue-200: hsl(234, 100%, 18%, 1);
  --cpd-color-alpha-blue-300: hsl(229, 100%, 20%, 1);
  --cpd-color-alpha-blue-400: hsl(224, 100%, 22%, 1);
  --cpd-color-alpha-blue-500: hsla(221, 100%, 37%, 0.63);
  --cpd-color-alpha-blue-600: hsla(219, 99%, 50%, 0.53);
  --cpd-color-alpha-blue-700: hsla(217, 99%, 51%, 0.64);
  --cpd-color-alpha-blue-800: hsla(214, 99%, 53%, 0.84);
  --cpd-color-alpha-blue-900: hsla(215, 98%, 63%, 0.92);
  --cpd-color-alpha-blue-1000: hsla(216, 99%, 69%, 0.94);
  --cpd-color-alpha-blue-1100: hsla(215, 97%, 74%, 0.96);
  --cpd-color-alpha-blue-1200: hsla(216, 100%, 82%, 0.97);
  --cpd-color-alpha-blue-1300: hsla(216, 96%, 90%, 0.99);
  --cpd-color-alpha-blue-1400: hsl(217, 93%, 95%, 1);
  --cpd-color-alpha-purple-100: hsl(258, 100%, 17%, 1);
  --cpd-color-alpha-purple-200: hsl(259, 100%, 18%, 1);
  --cpd-color-alpha-purple-300: hsl(259, 100%, 21%, 1);
  --cpd-color-alpha-purple-400: hsl(261, 100%, 25%, 1);
  --cpd-color-alpha-purple-500: hsl(263, 100%, 31%, 1);
  --cpd-color-alpha-purple-600: hsla(263, 98%, 52%, 0.67);
  --cpd-color-alpha-purple-700: hsla(260, 98%, 58%, 0.76);
  --cpd-color-alpha-purple-800: hsla(257, 100%, 65%, 0.92);
  --cpd-color-alpha-purple-900: hsla(254, 99%, 72%, 0.98);
  --cpd-color-alpha-purple-1000: hsla(252, 98%, 77%, 0.99);
  --cpd-color-alpha-purple-1100: hsl(250, 98%, 80%, 1);
  --cpd-color-alpha-purple-1200: hsl(249, 100%, 87%, 1);
  --cpd-color-alpha-purple-1300: hsl(246, 100%, 93%, 1);
  --cpd-color-alpha-purple-1400: hsl(249, 100%, 96%, 1);
  --cpd-color-alpha-fuchsia-100: hsl(279, 100%, 12%, 1);
  --cpd-color-alpha-fuchsia-200: hsl(281, 100%, 13%, 1);
  --cpd-color-alpha-fuchsia-300: hsl(282, 100%, 15%, 1);
  --cpd-color-alpha-fuchsia-400: hsl(285, 100%, 18%, 1);
  --cpd-color-alpha-fuchsia-500: hsla(287, 100%, 52%, 0.38);
  --cpd-color-alpha-fuchsia-600: hsla(288, 100%, 56%, 0.44);
  --cpd-color-alpha-fuchsia-700: hsla(289, 99%, 59%, 0.54);
  --cpd-color-alpha-fuchsia-800: hsla(294, 98%, 63%, 0.71);
  --cpd-color-alpha-fuchsia-900: hsla(295, 97%, 72%, 0.8);
  --cpd-color-alpha-fuchsia-1000: hsla(296, 98%, 78%, 0.83);
  --cpd-color-alpha-fuchsia-1100: hsla(297, 98%, 82%, 0.86);
  --cpd-color-alpha-fuchsia-1200: hsla(296, 97%, 88%, 0.91);
  --cpd-color-alpha-fuchsia-1300: hsla(296, 100%, 94%, 0.95);
  --cpd-color-alpha-fuchsia-1400: hsla(296, 90%, 96%, 0.98);
  --cpd-color-alpha-pink-100: hsl(344, 100%, 11%, 1);
  --cpd-color-alpha-pink-200: hsl(342, 100%, 12%, 1);
  --cpd-color-alpha-pink-300: hsl(339, 100%, 14%, 1);
  --cpd-color-alpha-pink-400: hsl(335, 100%, 17%, 1);
  --cpd-color-alpha-pink-500: hsl(330, 100%, 21%, 1);
  --cpd-color-alpha-pink-600: hsla(333, 97%, 50%, 0.46);
  --cpd-color-alpha-pink-700: hsla(334, 98%, 53%, 0.58);
  --cpd-color-alpha-pink-800: hsla(335, 99%, 55%, 0.8);
  --cpd-color-alpha-pink-900: hsla(340, 99%, 63%, 0.96);
  --cpd-color-alpha-pink-1000: hsla(343, 100%, 70%, 0.98);
  --cpd-color-alpha-pink-1100: hsl(345, 98%, 76%, 1);
  --cpd-color-alpha-pink-1200: hsl(346, 100%, 84%, 1);
  --cpd-color-alpha-pink-1300: hsl(347, 100%, 91%, 1);
  --cpd-color-alpha-pink-1400: hsl(347, 100%, 96%, 1);
  --cpd-color-transparent: rgba(0,0,0,0);
}
