.cpd-theme-light-hc.cpd-theme-light-hc {
  --cpd-color-theme-bg: #ffffff;
  --cpd-color-gray-100: #F9F9FA;
  --cpd-color-gray-200: #F1F2F4;
  --cpd-color-gray-300: #E7E8EC;
  --cpd-color-gray-400: #DADCE1;
  --cpd-color-gray-500: #C9CDD5;
  --cpd-color-gray-600: #B8BCC8;
  --cpd-color-gray-700: #A5ABBB;
  --cpd-color-gray-800: #8D95AA;
  --cpd-color-gray-900: #747E9B;
  --cpd-color-gray-1000: #626B87;
  --cpd-color-gray-1100: #51596E;
  --cpd-color-gray-1200: #434959;
  --cpd-color-gray-1300: #323642;
  --cpd-color-gray-1400: #1F2127;
  --cpd-color-red-100: #FCF9F9;
  --cpd-color-red-200: #F9F0F0;
  --cpd-color-red-300: #F7E5E6;
  --cpd-color-red-400: #F4D4D6;
  --cpd-color-red-500: #F0C1C4;
  --cpd-color-red-600: #EDABB0;
  --cpd-color-red-700: #E8939A;
  --cpd-color-red-800: #E86F79;
  --cpd-color-red-900: #E7414D;
  --cpd-color-red-1000: #D61826;
  --cpd-color-red-1100: #B01622;
  --cpd-color-red-1200: #901821;
  --cpd-color-red-1300: #69191F;
  --cpd-color-red-1400: #3D1418;
  --cpd-color-orange-100: #FBF9F7;
  --cpd-color-orange-200: #F7F1EB;
  --cpd-color-orange-300: #F3E6DA;
  --cpd-color-orange-400: #EED7C0;
  --cpd-color-orange-500: #E9C7A3;
  --cpd-color-orange-600: #E4B380;
  --cpd-color-orange-700: #DD9F5F;
  --cpd-color-orange-800: #D97E23;
  --cpd-color-orange-900: #BD6B17;
  --cpd-color-orange-1000: #A15A12;
  --cpd-color-orange-1100: #844B10;
  --cpd-color-orange-1200: #6B3F11;
  --cpd-color-orange-1300: #4D3012;
  --cpd-color-orange-1400: #2E1E0F;
  --cpd-color-yellow-100: #FBFAF6;
  --cpd-color-yellow-200: #F6F1E7;
  --cpd-color-yellow-300: #F1E7D2;
  --cpd-color-yellow-400: #EBDAB3;
  --cpd-color-yellow-500: #E4C98C;
  --cpd-color-yellow-600: #DDB760;
  --cpd-color-yellow-700: #D4A433;
  --cpd-color-yellow-800: #BD8E1F;
  --cpd-color-yellow-900: #A37814;
  --cpd-color-yellow-1000: #8B660F;
  --cpd-color-yellow-1100: #72540E;
  --cpd-color-yellow-1200: #5D460F;
  --cpd-color-yellow-1300: #443510;
  --cpd-color-yellow-1400: #29200E;
  --cpd-color-lime-100: #F8FAF5;
  --cpd-color-lime-200: #ECF5E4;
  --cpd-color-lime-300: #DDEFCB;
  --cpd-color-lime-400: #C5E6A2;
  --cpd-color-lime-500: #A6DD6C;
  --cpd-color-lime-600: #80D12C;
  --cpd-color-lime-700: #75BD28;
  --cpd-color-lime-800: #62A61B;
  --cpd-color-lime-900: #528E12;
  --cpd-color-lime-1000: #45790D;
  --cpd-color-lime-1100: #39640C;
  --cpd-color-lime-1200: #30520D;
  --cpd-color-lime-1300: #263D0E;
  --cpd-color-lime-1400: #19250C;
  --cpd-color-green-100: #F5FAF9;
  --cpd-color-green-200: #E6F5F1;
  --cpd-color-green-300: #CEEFE6;
  --cpd-color-green-400: #AAE8D6;
  --cpd-color-green-500: #77DFC2;
  --cpd-color-green-600: #32D3A5;
  --cpd-color-green-700: #29C095;
  --cpd-color-green-800: #1BA980;
  --cpd-color-green-900: #12906C;
  --cpd-color-green-1000: #0E7A5B;
  --cpd-color-green-1100: #0D664C;
  --cpd-color-green-1200: #0E5340;
  --cpd-color-green-1300: #0E3E30;
  --cpd-color-green-1400: #0C261E;
  --cpd-color-cyan-100: #F8F9FC;
  --cpd-color-cyan-200: #EEF3F9;
  --cpd-color-cyan-300: #E1E9F5;
  --cpd-color-cyan-400: #CDDDF2;
  --cpd-color-cyan-500: #B7CEEE;
  --cpd-color-cyan-600: #9FBFEB;
  --cpd-color-cyan-700: #85AEE5;
  --cpd-color-cyan-800: #5E97E5;
  --cpd-color-cyan-900: #327DE6;
  --cpd-color-cyan-1000: #1868D6;
  --cpd-color-cyan-1100: #1657B0;
  --cpd-color-cyan-1200: #17488B;
  --cpd-color-cyan-1300: #173662;
  --cpd-color-cyan-1400: #122237;
  --cpd-color-blue-100: #F9FAFC;
  --cpd-color-blue-200: #F0F1F9;
  --cpd-color-blue-300: #E5E8F7;
  --cpd-color-blue-400: #D5DAF4;
  --cpd-color-blue-500: #C2CBF1;
  --cpd-color-blue-600: #AEBAEE;
  --cpd-color-blue-700: #99A8E9;
  --cpd-color-blue-800: #7B8FEA;
  --cpd-color-blue-900: #5C76EB;
  --cpd-color-blue-1000: #3F5EEA;
  --cpd-color-blue-1100: #2044E3;
  --cpd-color-blue-1200: #1E3AB6;
  --cpd-color-blue-1300: #1D2F7C;
  --cpd-color-blue-1400: #171F43;
  --cpd-color-purple-100: #FBF9FC;
  --cpd-color-purple-200: #F5F1FA;
  --cpd-color-purple-300: #EEE5F7;
  --cpd-color-purple-400: #E6D5F4;
  --cpd-color-purple-500: #DCC4F1;
  --cpd-color-purple-600: #D1AFEE;
  --cpd-color-purple-700: #C599E9;
  --cpd-color-purple-800: #B77BE9;
  --cpd-color-purple-900: #A859EA;
  --cpd-color-purple-1000: #9735E9;
  --cpd-color-purple-1100: #7F1AD3;
  --cpd-color-purple-1200: #691BA9;
  --cpd-color-purple-1300: #4E1C77;
  --cpd-color-purple-1400: #2E1643;
  --cpd-color-fuchsia-100: #FCF9FC;
  --cpd-color-fuchsia-200: #F8F0F9;
  --cpd-color-fuchsia-300: #F4E3F6;
  --cpd-color-fuchsia-400: #EFD3F3;
  --cpd-color-fuchsia-500: #EABEF0;
  --cpd-color-fuchsia-600: #E4A7EC;
  --cpd-color-fuchsia-700: #DD8EE7;
  --cpd-color-fuchsia-800: #D767E6;
  --cpd-color-fuchsia-900: #D030E5;
  --cpd-color-fuchsia-1000: #B717CC;
  --cpd-color-fuchsia-1100: #9715A9;
  --cpd-color-fuchsia-1200: #7C168A;
  --cpd-color-fuchsia-1300: #5B1763;
  --cpd-color-fuchsia-1400: #36133A;
  --cpd-color-pink-100: #FCF9FB;
  --cpd-color-pink-200: #F9F0F5;
  --cpd-color-pink-300: #F6E3EE;
  --cpd-color-pink-400: #F3D3E5;
  --cpd-color-pink-500: #F0BEDA;
  --cpd-color-pink-600: #ECA7CE;
  --cpd-color-pink-700: #E78FC1;
  --cpd-color-pink-800: #E668B0;
  --cpd-color-pink-900: #E63197;
  --cpd-color-pink-1000: #CD177D;
  --cpd-color-pink-1100: #A91569;
  --cpd-color-pink-1200: #8A1658;
  --cpd-color-pink-1300: #641743;
  --cpd-color-pink-1400: #3B1429;
  --cpd-color-alpha-gray-100: hsla(240,98%,9%,0.1);
  --cpd-color-alpha-gray-200: hsla(220,95%,12%,0.13);
  --cpd-color-alpha-gray-300: hsla(228,92%,12%,0.16);
  --cpd-color-alpha-gray-400: hsla(223,87%,10%,0.2);
  --cpd-color-alpha-gray-500: hsla(220,81%,13%,0.26);
  --cpd-color-alpha-gray-600: hsla(225,75%,13%,0.31);
  --cpd-color-alpha-gray-700: hsla(224,69%,14%,0.37);
  --cpd-color-alpha-gray-800: hsla(223,61%,15%,0.45);
  --cpd-color-alpha-gray-900: hsla(225,53%,16%,0.52);
  --cpd-color-alpha-gray-1000: hsla(225,46%,16%,0.59);
  --cpd-color-alpha-gray-1100: hsla(223,37%,15%,0.66);
  --cpd-color-alpha-gray-1200: hsla(224,31%,14%,0.72);
  --cpd-color-alpha-gray-1300: hsla(225,23%,14%,0.8);
  --cpd-color-alpha-gray-1400: hsla(225,14%,11%,0.88);
  --cpd-color-alpha-red-100: hsla(0,98%,33%,0.1);
  --cpd-color-alpha-red-200: hsla(0,96%,43%,0.12);
  --cpd-color-alpha-red-300: hsla(357,93%,53%,0.15);
  --cpd-color-alpha-red-400: hsla(356,89%,59%,0.19);
  --cpd-color-alpha-red-500: hsla(356,85%,61%,0.24);
  --cpd-color-alpha-red-600: hsla(355,80%,65%,0.3);
  --cpd-color-alpha-red-700: hsla(355,74%,65%,0.36);
  --cpd-color-alpha-red-800: hsla(355,67%,72%,0.44);
  --cpd-color-alpha-red-900: hsla(356,58%,78%,0.55);
  --cpd-color-alpha-red-1000: hsla(356,47%,80%,0.67);
  --cpd-color-alpha-red-1100: hsla(355,39%,78%,0.72);
  --cpd-color-alpha-red-1200: hsla(356,33%,71%,0.76);
  --cpd-color-alpha-red-1300: hsla(356,25%,62%,0.81);
  --cpd-color-alpha-red-1400: hsla(354,16%,51%,0.87);
  --cpd-color-alpha-orange-100: hsla(30,98%,33%,0.1);
  --cpd-color-alpha-orange-200: hsla(30,95%,43%,0.13);
  --cpd-color-alpha-orange-300: hsla(29,90%,51%,0.17);
  --cpd-color-alpha-orange-400: hsla(30,84%,58%,0.22);
  --cpd-color-alpha-orange-500: hsla(31,78%,61%,0.28);
  --cpd-color-alpha-orange-600: hsla(31,70%,65%,0.36);
  --cpd-color-alpha-orange-700: hsla(30,62%,65%,0.43);
  --cpd-color-alpha-orange-800: hsla(30,49%,72%,0.55);
  --cpd-color-alpha-orange-900: hsla(30,42%,78%,0.62);
  --cpd-color-alpha-orange-1000: hsla(30,35%,80%,0.68);
  --cpd-color-alpha-orange-1100: hsla(31,29%,78%,0.73);
  --cpd-color-alpha-orange-1200: hsla(31,24%,73%,0.78);
  --cpd-color-alpha-orange-1300: hsla(31,19%,62%,0.83);
  --cpd-color-alpha-orange-1400: hsla(29,12%,51%,0.89);
  --cpd-color-alpha-yellow-100: hsla(48,97%,38%,0.1);
  --cpd-color-alpha-yellow-200: hsla(40,94%,45%,0.14);
  --cpd-color-alpha-yellow-300: hsla(41,88%,53%,0.18);
  --cpd-color-alpha-yellow-400: hsla(42,81%,58%,0.24);
  --cpd-color-alpha-yellow-500: hsla(42,72%,62%,0.32);
  --cpd-color-alpha-yellow-600: hsla(42,62%,65%,0.4);
  --cpd-color-alpha-yellow-700: hsla(42,52%,65%,0.49);
  --cpd-color-alpha-yellow-800: hsla(42,43%,72%,0.56);
  --cpd-color-alpha-yellow-900: hsla(42,36%,78%,0.64);
  --cpd-color-alpha-yellow-1000: hsla(42,30%,81%,0.69);
  --cpd-color-alpha-yellow-1100: hsla(42,25%,78%,0.75);
  --cpd-color-alpha-yellow-1200: hsla(42,21%,72%,0.79);
  --cpd-color-alpha-yellow-1300: hsla(43,16%,62%,0.84);
  --cpd-color-alpha-yellow-1400: hsla(40,11%,49%,0.9);
  --cpd-color-alpha-lime-100: hsla(84,97%,33%,0.11);
  --cpd-color-alpha-lime-200: hsla(92,93%,46%,0.15);
  --cpd-color-alpha-lime-300: hsla(90,87%,53%,0.2);
  --cpd-color-alpha-lime-400: hsla(89,77%,58%,0.29);
  --cpd-color-alpha-lime-500: hsla(89,65%,62%,0.4);
  --cpd-color-alpha-lime-600: hsla(89,50%,65%,0.54);
  --cpd-color-alpha-lime-700: hsla(89,45%,65%,0.58);
  --cpd-color-alpha-lime-800: hsla(89,38%,72%,0.65);
  --cpd-color-alpha-lime-900: hsla(89,31%,78%,0.71);
  --cpd-color-alpha-lime-1000: hsla(89,26%,81%,0.76);
  --cpd-color-alpha-lime-1100: hsla(89,22%,79%,0.8);
  --cpd-color-alpha-lime-1200: hsla(90,19%,73%,0.83);
  --cpd-color-alpha-lime-1300: hsla(89,15%,63%,0.86);
  --cpd-color-alpha-lime-1400: hsla(89,10%,51%,0.91);
  --cpd-color-alpha-green-100: hsla(168,97%,33%,0.11);
  --cpd-color-alpha-green-200: hsla(164,93%,43%,0.14);
  --cpd-color-alpha-green-300: hsla(164,87%,51%,0.19);
  --cpd-color-alpha-green-400: hsla(163,79%,57%,0.26);
  --cpd-color-alpha-green-500: hsla(163,67%,62%,0.36);
  --cpd-color-alpha-green-600: hsla(163,51%,65%,0.49);
  --cpd-color-alpha-green-700: hsla(163,46%,65%,0.54);
  --cpd-color-alpha-green-800: hsla(163,38%,72%,0.61);
  --cpd-color-alpha-green-900: hsla(163,32%,78%,0.68);
  --cpd-color-alpha-green-1000: hsla(163,27%,79%,0.73);
  --cpd-color-alpha-green-1100: hsla(162,23%,77%,0.77);
  --cpd-color-alpha-green-1200: hsla(163,19%,71%,0.81);
  --cpd-color-alpha-green-1300: hsla(162,15%,63%,0.85);
  --cpd-color-alpha-green-1400: hsla(162,10%,52%,0.9);
  --cpd-color-alpha-cyan-100: hsla(225,98%,40%,0.1);
  --cpd-color-alpha-cyan-200: hsla(213,95%,48%,0.12);
  --cpd-color-alpha-cyan-300: hsla(216,92%,50%,0.15);
  --cpd-color-alpha-cyan-400: hsla(214,88%,59%,0.2);
  --cpd-color-alpha-cyan-500: hsla(215,83%,62%,0.25);
  --cpd-color-alpha-cyan-600: hsla(215,77%,66%,0.3);
  --cpd-color-alpha-cyan-700: hsla(214,71%,65%,0.36);
  --cpd-color-alpha-cyan-800: hsla(215,63%,72%,0.43);
  --cpd-color-alpha-cyan-900: hsla(215,55%,78%,0.51);
  --cpd-color-alpha-cyan-1000: hsla(215,47%,80%,0.59);
  --cpd-color-alpha-cyan-1100: hsla(215,39%,78%,0.66);
  --cpd-color-alpha-cyan-1200: hsla(215,32%,72%,0.72);
  --cpd-color-alpha-cyan-1300: hsla(215,24%,62%,0.79);
  --cpd-color-alpha-cyan-1400: hsla(214,14%,51%,0.87);
  --cpd-color-alpha-blue-100: hsla(220,98%,33%,0.1);
  --cpd-color-alpha-blue-200: hsla(233,96%,43%,0.12);
  --cpd-color-alpha-blue-300: hsla(230,93%,53%,0.15);
  --cpd-color-alpha-blue-400: hsla(230,90%,58%,0.19);
  --cpd-color-alpha-blue-500: hsla(229,85%,63%,0.23);
  --cpd-color-alpha-blue-600: hsla(229,81%,65%,0.28);
  --cpd-color-alpha-blue-700: hsla(229,76%,65%,0.33);
  --cpd-color-alpha-blue-800: hsla(229,70%,73%,0.4);
  --cpd-color-alpha-blue-900: hsla(229,64%,78%,0.46);
  --cpd-color-alpha-blue-1000: hsla(229,58%,80%,0.53);
  --cpd-color-alpha-blue-1100: hsla(229,51%,78%,0.61);
  --cpd-color-alpha-blue-1200: hsla(229,42%,72%,0.68);
  --cpd-color-alpha-blue-1300: hsla(229,30%,62%,0.76);
  --cpd-color-alpha-blue-1400: hsla(229,18%,49%,0.85);
  --cpd-color-alpha-purple-100: hsla(280,98%,33%,0.1);
  --cpd-color-alpha-purple-200: hsla(267,96%,47%,0.11);
  --cpd-color-alpha-purple-300: hsla(270,93%,53%,0.14);
  --cpd-color-alpha-purple-400: hsla(273,90%,58%,0.17);
  --cpd-color-alpha-purple-500: hsla(272,86%,62%,0.21);
  --cpd-color-alpha-purple-600: hsla(272,81%,65%,0.25);
  --cpd-color-alpha-purple-700: hsla(273,76%,65%,0.3);
  --cpd-color-alpha-purple-800: hsla(273,70%,71%,0.35);
  --cpd-color-alpha-purple-900: hsla(273,63%,78%,0.41);
  --cpd-color-alpha-purple-1000: hsla(273,56%,80%,0.47);
  --cpd-color-alpha-purple-1100: hsla(273,46%,78%,0.56);
  --cpd-color-alpha-purple-1200: hsla(273,38%,72%,0.64);
  --cpd-color-alpha-purple-1300: hsla(273,29%,62%,0.73);
  --cpd-color-alpha-purple-1400: hsla(272,17%,51%,0.84);
  --cpd-color-alpha-fuchsia-100: hsla(300,98%,33%,0.09);
  --cpd-color-alpha-fuchsia-200: hsla(293,96%,43%,0.11);
  --cpd-color-alpha-fuchsia-300: hsla(294,93%,51%,0.14);
  --cpd-color-alpha-fuchsia-400: hsla(292,89%,57%,0.17);
  --cpd-color-alpha-fuchsia-500: hsla(293,84%,62%,0.2);
  --cpd-color-alpha-fuchsia-600: hsla(293,79%,64%,0.24);
  --cpd-color-alpha-fuchsia-700: hsla(293,73%,65%,0.29);
  --cpd-color-alpha-fuchsia-800: hsla(293,65%,72%,0.34);
  --cpd-color-alpha-fuchsia-900: hsla(293,54%,78%,0.42);
  --cpd-color-alpha-fuchsia-1000: hsla(293,45%,80%,0.51);
  --cpd-color-alpha-fuchsia-1100: hsla(293,37%,78%,0.59);
  --cpd-color-alpha-fuchsia-1200: hsla(293,31%,72%,0.66);
  --cpd-color-alpha-fuchsia-1300: hsla(294,24%,62%,0.74);
  --cpd-color-alpha-fuchsia-1400: hsla(294,15%,51%,0.84);
  --cpd-color-alpha-pink-100: hsla(320,98%,33%,0.1);
  --cpd-color-alpha-pink-200: hsla(327,96%,43%,0.12);
  --cpd-color-alpha-pink-300: hsla(325,93%,51%,0.14);
  --cpd-color-alpha-pink-400: hsla(326,89%,57%,0.18);
  --cpd-color-alpha-pink-500: hsla(326,84%,62%,0.22);
  --cpd-color-alpha-pink-600: hsla(326,79%,64%,0.27);
  --cpd-color-alpha-pink-700: hsla(326,73%,65%,0.32);
  --cpd-color-alpha-pink-800: hsla(326,65%,72%,0.39);
  --cpd-color-alpha-pink-900: hsla(326,55%,78%,0.48);
  --cpd-color-alpha-pink-1000: hsla(326,45%,80%,0.58);
  --cpd-color-alpha-pink-1100: hsla(326,37%,78%,0.65);
  --cpd-color-alpha-pink-1200: hsla(326,31%,72%,0.7);
  --cpd-color-alpha-pink-1300: hsla(326,24%,63%,0.77);
  --cpd-color-alpha-pink-1400: hsla(328,15%,49%,0.86);
  --cpd-color-transparent: rgba(0,0,0,0);
}
