.cpd-theme-dark-hc.cpd-theme-dark-hc {
  --cpd-color-theme-bg: #101317;
  --cpd-color-gray-100: #181C24;
  --cpd-color-gray-200: #1D212B;
  --cpd-color-gray-300: #2B303C;
  --cpd-color-gray-400: #323846;
  --cpd-color-gray-500: #3C4253;
  --cpd-color-gray-600: #434A5D;
  --cpd-color-gray-700: #6B7388;
  --cpd-color-gray-800: #868FA2;
  --cpd-color-gray-900: #A5ADBC;
  --cpd-color-gray-1000: #BEC4D0;
  --cpd-color-gray-1100: #D7DCE3;
  --cpd-color-gray-1200: #E2E6EA;
  --cpd-color-gray-1300: #F0F2F4;
  --cpd-color-gray-1400: #F7F8FA;
  --cpd-color-red-100: #2A1715;
  --cpd-color-red-200: #331B19;
  --cpd-color-red-300: #492623;
  --cpd-color-red-400: #5C2826;
  --cpd-color-red-500: #732B29;
  --cpd-color-red-600: #872828;
  --cpd-color-red-700: #D9303C;
  --cpd-color-red-800: #F85558;
  --cpd-color-red-900: #F79089;
  --cpd-color-red-1000: #FFAFA9;
  --cpd-color-red-1100: #FDD2CE;
  --cpd-color-red-1200: #F9E0DE;
  --cpd-color-red-1300: #FFEEEC;
  --cpd-color-red-1400: #FFF6F5;
  --cpd-color-orange-100: #251913;
  --cpd-color-orange-200: #2D1E16;
  --cpd-color-orange-300: #3F2B1F;
  --cpd-color-orange-400: #4E3120;
  --cpd-color-orange-500: #613820;
  --cpd-color-orange-600: #703D1A;
  --cpd-color-orange-700: #AF5E09;
  --cpd-color-orange-800: #D4770B;
  --cpd-color-orange-900: #F49639;
  --cpd-color-orange-1000: #FFB36F;
  --cpd-color-orange-1100: #FDD4B1;
  --cpd-color-orange-1200: #F9E2CD;
  --cpd-color-orange-1300: #FFEFE1;
  --cpd-color-orange-1400: #FFF7F0;
  --cpd-color-yellow-100: #221B13;
  --cpd-color-yellow-200: #282016;
  --cpd-color-yellow-300: #392E20;
  --cpd-color-yellow-400: #453520;
  --cpd-color-yellow-500: #543E21;
  --cpd-color-yellow-600: #61451A;
  --cpd-color-yellow-700: #956C08;
  --cpd-color-yellow-800: #B4880B;
  --cpd-color-yellow-900: #D4A60B;
  --cpd-color-yellow-1000: #E8BF36;
  --cpd-color-yellow-1100: #F7DA7B;
  --cpd-color-yellow-1200: #F6E5AA;
  --cpd-color-yellow-1300: #FDF2C9;
  --cpd-color-yellow-1400: #FEF8E3;
  --cpd-color-lime-100: #161E15;
  --cpd-color-lime-200: #1B2419;
  --cpd-color-lime-300: #273323;
  --cpd-color-lime-400: #2C3C25;
  --cpd-color-lime-500: #324828;
  --cpd-color-lime-600: #355124;
  --cpd-color-lime-700: #587E2A;
  --cpd-color-lime-800: #749A38;
  --cpd-color-lime-900: #97B852;
  --cpd-color-lime-1000: #B1CE6D;
  --cpd-color-lime-1100: #CCE688;
  --cpd-color-lime-1200: #DAEE9F;
  --cpd-color-lime-1300: #E8F9B7;
  --cpd-color-lime-1400: #F3FCDA;
  --cpd-color-green-100: #161D1C;
  --cpd-color-green-200: #1B2322;
  --cpd-color-green-300: #263230;
  --cpd-color-green-400: #293B38;
  --cpd-color-green-500: #2D4742;
  --cpd-color-green-600: #2C5148;
  --cpd-color-green-700: #407E6C;
  --cpd-color-green-800: #569C82;
  --cpd-color-green-900: #74BB99;
  --cpd-color-green-1000: #90D1AF;
  --cpd-color-green-1100: #B1E8C6;
  --cpd-color-green-1200: #CBEED7;
  --cpd-color-green-1300: #E0F8E8;
  --cpd-color-green-1400: #EFFBF3;
  --cpd-color-cyan-100: #151C27;
  --cpd-color-cyan-200: #1A222F;
  --cpd-color-cyan-300: #243042;
  --cpd-color-cyan-400: #273853;
  --cpd-color-cyan-500: #2A4367;
  --cpd-color-cyan-600: #294A7A;
  --cpd-color-cyan-700: #3873C3;
  --cpd-color-cyan-800: #5090E3;
  --cpd-color-cyan-900: #7CAFF1;
  --cpd-color-cyan-1000: #9BC7FD;
  --cpd-color-cyan-1100: #C5DEFD;
  --cpd-color-cyan-1200: #D8E7F9;
  --cpd-color-cyan-1300: #E9F3FF;
  --cpd-color-cyan-1400: #F3F9FF;
  --cpd-color-blue-100: #131B30;
  --cpd-color-blue-200: #162139;
  --cpd-color-blue-300: #1F2E54;
  --cpd-color-blue-400: #20356B;
  --cpd-color-blue-500: #233D89;
  --cpd-color-blue-600: #2441A4;
  --cpd-color-blue-700: #4A68E8;
  --cpd-color-blue-800: #6B87F9;
  --cpd-color-blue-900: #94A9F7;
  --cpd-color-blue-1000: #B1C1FF;
  --cpd-color-blue-1100: #D2DBFD;
  --cpd-color-blue-1200: #E0E5F9;
  --cpd-color-blue-1300: #EFF1FF;
  --cpd-color-blue-1400: #F6F8FF;
  --cpd-color-purple-100: #20182A;
  --cpd-color-purple-200: #271D32;
  --cpd-color-purple-300: #382949;
  --cpd-color-purple-400: #452D5C;
  --cpd-color-purple-500: #543374;
  --cpd-color-purple-600: #61338B;
  --cpd-color-purple-700: #9A4BDD;
  --cpd-color-purple-800: #B26FF3;
  --cpd-color-purple-900: #C599F7;
  --cpd-color-purple-1000: #D7B5FF;
  --cpd-color-purple-1100: #E6D4FD;
  --cpd-color-purple-1200: #EBE2F9;
  --cpd-color-purple-1300: #F6EFFF;
  --cpd-color-purple-1400: #FAF7FF;
  --cpd-color-fuchsia-100: #32004a;
  --cpd-color-fuchsia-200: #3b0053;
  --cpd-color-fuchsia-300: #52026c;
  --cpd-color-fuchsia-400: #5c0f76;
  --cpd-color-fuchsia-500: #6c1785;
  --cpd-color-fuchsia-600: #781c90;
  --cpd-color-fuchsia-700: #b937c6;
  --cpd-color-fuchsia-800: #cb68d4;
  --cpd-color-fuchsia-900: #db93e1;
  --cpd-color-fuchsia-1000: #e7b2ea;
  --cpd-color-fuchsia-1100: #f1d2f3;
  --cpd-color-fuchsia-1200: #f6dff7;
  --cpd-color-fuchsia-1300: #faeefb;
  --cpd-color-fuchsia-1400: #fcf5fd;
  --cpd-color-pink-100: #26181E;
  --cpd-color-pink-200: #2D1D23;
  --cpd-color-pink-300: #412933;
  --cpd-color-pink-400: #502D3D;
  --cpd-color-pink-500: #64324A;
  --cpd-color-pink-600: #743454;
  --cpd-color-pink-700: #B94B89;
  --cpd-color-pink-800: #DC64A9;
  --cpd-color-pink-900: #EA91C2;
  --cpd-color-pink-1000: #F7AED6;
  --cpd-color-pink-1100: #FCCFE8;
  --cpd-color-pink-1200: #F9DEED;
  --cpd-color-pink-1300: #FFEDF7;
  --cpd-color-pink-1400: #FFF6FB;
  --cpd-color-alpha-gray-100: hsla(286, 31%, 82%, 0.04);
  --cpd-color-alpha-gray-200: hsla(280, 41%, 90%, 0.06);
  --cpd-color-alpha-gray-300: hsla(270, 37%, 93%, 0.1);
  --cpd-color-alpha-gray-400: hsla(227, 29%, 91%, 0.13);
  --cpd-color-alpha-gray-500: hsla(225, 46%, 95%, 0.2);
  --cpd-color-alpha-gray-600: hsla(213, 85%, 95%, 0.27);
  --cpd-color-alpha-gray-700: hsla(214, 79%, 93%, 0.39);
  --cpd-color-alpha-gray-800: hsla(216, 94%, 93%, 0.51);
  --cpd-color-alpha-gray-900: hsla(211, 91%, 96%, 0.72);
  --cpd-color-alpha-gray-1000: hsla(213, 100%, 97%, 0.76);
  --cpd-color-alpha-gray-1100: hsla(212, 100%, 97%, 0.82);
  --cpd-color-alpha-gray-1200: hsla(217, 77%, 97%, 0.88);
  --cpd-color-alpha-gray-1300: hsla(214, 78%, 98%, 0.95);
  --cpd-color-alpha-gray-1400: hsla(204, 71%, 99%, 0.97);
  --cpd-color-alpha-red-100: hsl(0, 100%, 12%, 1);
  --cpd-color-alpha-red-200: hsl(0, 100%, 14%, 1);
  --cpd-color-alpha-red-300: hsl(0, 100%, 18%, 1);
  --cpd-color-alpha-red-400: hsl(0, 100%, 20%, 1);
  --cpd-color-alpha-red-500: hsl(356, 100%, 26%, 1);
  --cpd-color-alpha-red-600: hsla(354, 99%, 52%, 0.6);
  --cpd-color-alpha-red-700: hsla(357, 100%, 57%, 0.77);
  --cpd-color-alpha-red-800: hsla(359, 100%, 59%, 0.96);
  --cpd-color-alpha-red-900: hsl(5, 100%, 78%, 1);
  --cpd-color-alpha-red-1000: hsl(6, 100%, 81%, 1);
  --cpd-color-alpha-red-1100: hsl(6, 100%, 86%, 1);
  --cpd-color-alpha-red-1200: hsl(8, 100%, 89%, 1);
  --cpd-color-alpha-red-1300: hsl(7, 100%, 95%, 1);
  --cpd-color-alpha-red-1400: hsl(11, 100%, 97%, 1);
  --cpd-color-alpha-orange-100: hsl(0, 100%, 12%, 1);
  --cpd-color-alpha-orange-200: hsl(0, 100%, 14%, 1);
  --cpd-color-alpha-orange-300: hsl(0, 100%, 17%, 1);
  --cpd-color-alpha-orange-400: hsl(0, 100%, 20%, 1);
  --cpd-color-alpha-orange-500: hsl(2, 100%, 26%, 1);
  --cpd-color-alpha-orange-600: hsla(12, 100%, 39%, 0.74);
  --cpd-color-alpha-orange-700: hsla(20, 100%, 49%, 0.7);
  --cpd-color-alpha-orange-800: hsla(26, 99%, 51%, 0.81);
  --cpd-color-alpha-orange-900: hsla(26, 98%, 67%, 0.98);
  --cpd-color-alpha-orange-1000: hsla(26, 100%, 73%, 0.98);
  --cpd-color-alpha-orange-1100: hsl(25, 96%, 79%, 1);
  --cpd-color-alpha-orange-1200: hsl(24, 98%, 85%, 1);
  --cpd-color-alpha-orange-1300: hsl(25, 100%, 93%, 1);
  --cpd-color-alpha-orange-1400: hsl(23, 100%, 96%, 1);
  --cpd-color-alpha-yellow-100: hsl(3, 100%, 11%, 1);
  --cpd-color-alpha-yellow-200: hsl(8, 100%, 13%, 1);
  --cpd-color-alpha-yellow-300: hsl(16, 100%, 15%, 1);
  --cpd-color-alpha-yellow-400: hsl(21, 100%, 17%, 1);
  --cpd-color-alpha-yellow-500: hsla(26, 100%, 23%, 0.87);
  --cpd-color-alpha-yellow-600: hsla(30, 100%, 26%, 0.92);
  --cpd-color-alpha-yellow-700: hsl(34, 100%, 30%, 1);
  --cpd-color-alpha-yellow-800: hsl(38, 100%, 35%, 1);
  --cpd-color-alpha-yellow-900: hsl(45, 100%, 45%, 1);
  --cpd-color-alpha-yellow-1000: hsla(46, 99%, 51%, 0.92);
  --cpd-color-alpha-yellow-1100: hsla(48, 99%, 54%, 0.97);
  --cpd-color-alpha-yellow-1200: hsl(48, 99%, 60%, 1);
  --cpd-color-alpha-yellow-1300: hsl(46, 100%, 85%, 1);
  --cpd-color-alpha-yellow-1400: hsl(46, 100%, 91%, 1);
  --cpd-color-alpha-lime-100: hsl(120, 100%, 6%, 1);
  --cpd-color-alpha-lime-200: hsl(120, 100%, 8%, 1);
  --cpd-color-alpha-lime-300: hsl(120, 100%, 9%, 1);
  --cpd-color-alpha-lime-400: hsl(120, 100%, 11%, 1);
  --cpd-color-alpha-lime-500: hsl(120, 100%, 15%, 1);
  --cpd-color-alpha-lime-600: hsl(120, 100%, 18%, 1);
  --cpd-color-alpha-lime-700: hsla(114, 100%, 52%, 0.42);
  --cpd-color-alpha-lime-800: hsla(109, 99%, 57%, 0.55);
  --cpd-color-alpha-lime-900: hsla(101, 99%, 60%, 0.78);
  --cpd-color-alpha-lime-1000: hsla(101, 99%, 62%, 0.83);
  --cpd-color-alpha-lime-1100: hsla(103, 97%, 75%, 0.88);
  --cpd-color-alpha-lime-1200: hsla(103, 98%, 83%, 0.91);
  --cpd-color-alpha-lime-1300: hsla(105, 91%, 92%, 0.97);
  --cpd-color-alpha-lime-1400: hsla(104, 92%, 95%, 0.98);
  --cpd-color-alpha-green-100: hsl(147, 100%, 6%, 1);
  --cpd-color-alpha-green-200: hsl(151, 100%, 7%, 1);
  --cpd-color-alpha-green-300: hsl(155, 100%, 9%, 1);
  --cpd-color-alpha-green-400: hsl(158, 100%, 11%, 1);
  --cpd-color-alpha-green-500: hsl(162, 100%, 14%, 1);
  --cpd-color-alpha-green-600: hsl(165, 100%, 18%, 1);
  --cpd-color-alpha-green-700: hsl(168, 100%, 23%, 1);
  --cpd-color-alpha-green-800: hsla(165, 98%, 53%, 0.54);
  --cpd-color-alpha-green-900: hsla(159, 97%, 62%, 0.78);
  --cpd-color-alpha-green-1000: hsla(156, 100%, 73%, 0.81);
  --cpd-color-alpha-green-1100: hsla(154, 98%, 82%, 0.86);
  --cpd-color-alpha-green-1200: hsla(153, 94%, 87%, 0.9);
  --cpd-color-alpha-green-1300: hsla(152, 88%, 94%, 0.96);
  --cpd-color-alpha-green-1400: hsla(150, 80%, 96%, 0.98);
  --cpd-color-alpha-cyan-100: hsl(223, 100%, 14%, 1);
  --cpd-color-alpha-cyan-200: hsl(219, 100%, 15%, 1);
  --cpd-color-alpha-cyan-300: hsl(215, 100%, 18%, 1);
  --cpd-color-alpha-cyan-400: hsl(212, 100%, 19%, 1);
  --cpd-color-alpha-cyan-500: hsl(208, 100%, 23%, 1);
  --cpd-color-alpha-cyan-600: hsl(204, 100%, 27%, 1);
  --cpd-color-alpha-cyan-700: hsl(200, 100%, 32%, 1);
  --cpd-color-alpha-cyan-800: hsl(195, 100%, 37%, 1);
  --cpd-color-alpha-cyan-900: hsla(186, 99%, 66%, 0.81);
  --cpd-color-alpha-cyan-1000: hsla(187, 99%, 74%, 0.84);
  --cpd-color-alpha-cyan-1100: hsla(187, 98%, 82%, 0.88);
  --cpd-color-alpha-cyan-1200: hsla(188, 97%, 87%, 0.91);
  --cpd-color-alpha-cyan-1300: hsla(187, 93%, 94%, 0.96);
  --cpd-color-alpha-cyan-1400: hsla(187, 89%, 97%, 0.98);
  --cpd-color-alpha-blue-100: hsl(234, 100%, 18%, 1);
  --cpd-color-alpha-blue-200: hsl(229, 100%, 20%, 1);
  --cpd-color-alpha-blue-300: hsl(224, 100%, 22%, 1);
  --cpd-color-alpha-blue-400: hsla(222, 100%, 28%, 0.82);
  --cpd-color-alpha-blue-500: hsla(219, 99%, 50%, 0.53);
  --cpd-color-alpha-blue-600: hsla(217, 99%, 51%, 0.64);
  --cpd-color-alpha-blue-700: hsla(215, 98%, 52%, 0.81);
  --cpd-color-alpha-blue-800: hsla(215, 99%, 60%, 0.91);
  --cpd-color-alpha-blue-900: hsla(216, 97%, 77%, 0.97);
  --cpd-color-alpha-blue-1000: hsla(216, 100%, 81%, 0.97);
  --cpd-color-alpha-blue-1100: hsla(216, 100%, 86%, 0.98);
  --cpd-color-alpha-blue-1200: hsla(216, 97%, 89%, 0.99);
  --cpd-color-alpha-blue-1300: hsl(217, 93%, 95%, 1);
  --cpd-color-alpha-blue-1400: hsl(216, 88%, 97%, 1);
  --cpd-color-alpha-purple-100: hsl(259, 100%, 18%, 1);
  --cpd-color-alpha-purple-200: hsl(259, 100%, 21%, 1);
  --cpd-color-alpha-purple-300: hsl(261, 100%, 25%, 1);
  --cpd-color-alpha-purple-400: hsl(262, 100%, 28%, 1);
  --cpd-color-alpha-purple-500: hsla(263, 98%, 52%, 0.67);
  --cpd-color-alpha-purple-600: hsla(260, 98%, 58%, 0.76);
  --cpd-color-alpha-purple-700: hsla(258, 98%, 64%, 0.9);
  --cpd-color-alpha-purple-800: hsla(255, 100%, 71%, 0.97);
  --cpd-color-alpha-purple-900: hsl(250, 100%, 83%, 1);
  --cpd-color-alpha-purple-1000: hsl(249, 100%, 86%, 1);
  --cpd-color-alpha-purple-1100: hsl(248, 100%, 89%, 1);
  --cpd-color-alpha-purple-1200: hsl(247, 100%, 92%, 1);
  --cpd-color-alpha-purple-1300: hsl(249, 100%, 96%, 1);
  --cpd-color-alpha-purple-1400: hsl(250, 100%, 98%, 1);
  --cpd-color-alpha-fuchsia-100: hsl(281, 100%, 13%, 1);
  --cpd-color-alpha-fuchsia-200: hsl(282, 100%, 15%, 1);
  --cpd-color-alpha-fuchsia-300: hsl(285, 100%, 18%, 1);
  --cpd-color-alpha-fuchsia-400: hsla(286, 100%, 23%, 0.85);
  --cpd-color-alpha-fuchsia-500: hsla(288, 100%, 56%, 0.44);
  --cpd-color-alpha-fuchsia-600: hsla(289, 99%, 59%, 0.54);
  --cpd-color-alpha-fuchsia-700: hsla(293, 97%, 62%, 0.68);
  --cpd-color-alpha-fuchsia-800: hsla(296, 99%, 70%, 0.78);
  --cpd-color-alpha-fuchsia-900: hsla(295, 100%, 85%, 0.88);
  --cpd-color-alpha-fuchsia-1000: hsla(296, 97%, 87%, 0.9);
  --cpd-color-alpha-fuchsia-1100: hsla(296, 92%, 90%, 0.93);
  --cpd-color-alpha-fuchsia-1200: hsla(297, 95%, 92%, 0.95);
  --cpd-color-alpha-fuchsia-1300: hsla(296, 90%, 96%, 0.98);
  --cpd-color-alpha-fuchsia-1400: hsla(300, 71%, 97%, 0.99);
  --cpd-color-alpha-pink-100: hsl(342, 100%, 12%, 1);
  --cpd-color-alpha-pink-200: hsl(339, 100%, 14%, 1);
  --cpd-color-alpha-pink-300: hsl(335, 100%, 17%, 1);
  --cpd-color-alpha-pink-400: hsl(332, 100%, 19%, 1);
  --cpd-color-alpha-pink-500: hsla(333, 97%, 50%, 0.46);
  --cpd-color-alpha-pink-600: hsla(334, 98%, 53%, 0.58);
  --cpd-color-alpha-pink-700: hsla(335, 99%, 55%, 0.76);
  --cpd-color-alpha-pink-800: hsla(338, 98%, 58%, 0.95);
  --cpd-color-alpha-pink-900: hsl(346, 100%, 79%, 1);
  --cpd-color-alpha-pink-1000: hsl(346, 100%, 82%, 1);
  --cpd-color-alpha-pink-1100: hsl(347, 100%, 87%, 1);
  --cpd-color-alpha-pink-1200: hsl(347, 100%, 90%, 1);
  --cpd-color-alpha-pink-1300: hsl(347, 100%, 96%, 1);
  --cpd-color-alpha-pink-1400: hsl(347, 100%, 97%, 1);
  --cpd-color-transparent: rgba(0,0,0,0);
}
