.cpd-theme-light-hc.cpd-theme-light-hc {
  --cpd-color-theme-bg: #ffffff;
  --cpd-color-gray-100: #F7F8FA;
  --cpd-color-gray-200: #F0F2F4;
  --cpd-color-gray-300: #E2E6EA;
  --cpd-color-gray-400: #D7DCE3;
  --cpd-color-gray-500: #BEC4D0;
  --cpd-color-gray-600: #A5ADBC;
  --cpd-color-gray-700: #868FA2;
  --cpd-color-gray-800: #6B7388;
  --cpd-color-gray-900: #434A5D;
  --cpd-color-gray-1000: #3C4253;
  --cpd-color-gray-1100: #323846;
  --cpd-color-gray-1200: #2B303C;
  --cpd-color-gray-1300: #1D212B;
  --cpd-color-gray-1400: #181C24;
  --cpd-color-red-100: #FFF6F5;
  --cpd-color-red-200: #FFEEEC;
  --cpd-color-red-300: #F9E0DE;
  --cpd-color-red-400: #FDD2CE;
  --cpd-color-red-500: #FFAFA9;
  --cpd-color-red-600: #F79089;
  --cpd-color-red-700: #F85558;
  --cpd-color-red-800: #D9303C;
  --cpd-color-red-900: #872828;
  --cpd-color-red-1000: #732B29;
  --cpd-color-red-1100: #5C2826;
  --cpd-color-red-1200: #492623;
  --cpd-color-red-1300: #331B19;
  --cpd-color-red-1400: #2A1715;
  --cpd-color-orange-100: #FFF7F0;
  --cpd-color-orange-200: #FFEFE1;
  --cpd-color-orange-300: #F9E2CD;
  --cpd-color-orange-400: #FDD4B1;
  --cpd-color-orange-500: #FFB36F;
  --cpd-color-orange-600: #F49639;
  --cpd-color-orange-700: #D4770B;
  --cpd-color-orange-800: #AF5E09;
  --cpd-color-orange-900: #703D1A;
  --cpd-color-orange-1000: #613820;
  --cpd-color-orange-1100: #4E3120;
  --cpd-color-orange-1200: #3F2B1F;
  --cpd-color-orange-1300: #2D1E16;
  --cpd-color-orange-1400: #251913;
  --cpd-color-yellow-100: #FEF8E3;
  --cpd-color-yellow-200: #FDF2C9;
  --cpd-color-yellow-300: #F6E5AA;
  --cpd-color-yellow-400: #F7DA7B;
  --cpd-color-yellow-500: #E8BF36;
  --cpd-color-yellow-600: #D4A60B;
  --cpd-color-yellow-700: #B4880B;
  --cpd-color-yellow-800: #956C08;
  --cpd-color-yellow-900: #61451A;
  --cpd-color-yellow-1000: #543E21;
  --cpd-color-yellow-1100: #453520;
  --cpd-color-yellow-1200: #392E20;
  --cpd-color-yellow-1300: #282016;
  --cpd-color-yellow-1400: #221B13;
  --cpd-color-lime-100: #F3FCDA;
  --cpd-color-lime-200: #E8F9B7;
  --cpd-color-lime-300: #DAEE9F;
  --cpd-color-lime-400: #CCE688;
  --cpd-color-lime-500: #B1CE6D;
  --cpd-color-lime-600: #97B852;
  --cpd-color-lime-700: #749A38;
  --cpd-color-lime-800: #587E2A;
  --cpd-color-lime-900: #355124;
  --cpd-color-lime-1000: #324828;
  --cpd-color-lime-1100: #2C3C25;
  --cpd-color-lime-1200: #273323;
  --cpd-color-lime-1300: #1B2419;
  --cpd-color-lime-1400: #161E15;
  --cpd-color-green-100: #EFFBF3;
  --cpd-color-green-200: #E0F8E8;
  --cpd-color-green-300: #CBEED7;
  --cpd-color-green-400: #B1E8C6;
  --cpd-color-green-500: #90D1AF;
  --cpd-color-green-600: #74BB99;
  --cpd-color-green-700: #569C82;
  --cpd-color-green-800: #407E6C;
  --cpd-color-green-900: #2C5148;
  --cpd-color-green-1000: #2D4742;
  --cpd-color-green-1100: #293B38;
  --cpd-color-green-1200: #263230;
  --cpd-color-green-1300: #1B2322;
  --cpd-color-green-1400: #161D1C;
  --cpd-color-cyan-100: #F3F9FF;
  --cpd-color-cyan-200: #E9F3FF;
  --cpd-color-cyan-300: #D8E7F9;
  --cpd-color-cyan-400: #C5DEFD;
  --cpd-color-cyan-500: #9BC7FD;
  --cpd-color-cyan-600: #7CAFF1;
  --cpd-color-cyan-700: #5090E3;
  --cpd-color-cyan-800: #3873C3;
  --cpd-color-cyan-900: #294A7A;
  --cpd-color-cyan-1000: #2A4367;
  --cpd-color-cyan-1100: #273853;
  --cpd-color-cyan-1200: #243042;
  --cpd-color-cyan-1300: #1A222F;
  --cpd-color-cyan-1400: #151C27;
  --cpd-color-blue-100: #F6F8FF;
  --cpd-color-blue-200: #EFF1FF;
  --cpd-color-blue-300: #E0E5F9;
  --cpd-color-blue-400: #D2DBFD;
  --cpd-color-blue-500: #B1C1FF;
  --cpd-color-blue-600: #94A9F7;
  --cpd-color-blue-700: #6B87F9;
  --cpd-color-blue-800: #4A68E8;
  --cpd-color-blue-900: #2441A4;
  --cpd-color-blue-1000: #233D89;
  --cpd-color-blue-1100: #20356B;
  --cpd-color-blue-1200: #1F2E54;
  --cpd-color-blue-1300: #162139;
  --cpd-color-blue-1400: #131B30;
  --cpd-color-purple-100: #FAF7FF;
  --cpd-color-purple-200: #F6EFFF;
  --cpd-color-purple-300: #EBE2F9;
  --cpd-color-purple-400: #E6D4FD;
  --cpd-color-purple-500: #D7B5FF;
  --cpd-color-purple-600: #C599F7;
  --cpd-color-purple-700: #B26FF3;
  --cpd-color-purple-800: #9A4BDD;
  --cpd-color-purple-900: #61338B;
  --cpd-color-purple-1000: #543374;
  --cpd-color-purple-1100: #452D5C;
  --cpd-color-purple-1200: #382949;
  --cpd-color-purple-1300: #271D32;
  --cpd-color-purple-1400: #20182A;
  --cpd-color-fuchsia-100: #fcf5fd;
  --cpd-color-fuchsia-200: #faeefb;
  --cpd-color-fuchsia-300: #f6dff7;
  --cpd-color-fuchsia-400: #f1d2f3;
  --cpd-color-fuchsia-500: #e7b2ea;
  --cpd-color-fuchsia-600: #db93e1;
  --cpd-color-fuchsia-700: #cb68d4;
  --cpd-color-fuchsia-800: #b937c6;
  --cpd-color-fuchsia-900: #781c90;
  --cpd-color-fuchsia-1000: #6c1785;
  --cpd-color-fuchsia-1100: #5c0f76;
  --cpd-color-fuchsia-1200: #52026c;
  --cpd-color-fuchsia-1300: #3b0053;
  --cpd-color-fuchsia-1400: #32004a;
  --cpd-color-pink-100: #FFF6FB;
  --cpd-color-pink-200: #FFEDF7;
  --cpd-color-pink-300: #F9DEED;
  --cpd-color-pink-400: #FCCFE8;
  --cpd-color-pink-500: #F7AED6;
  --cpd-color-pink-600: #EA91C2;
  --cpd-color-pink-700: #DC64A9;
  --cpd-color-pink-800: #B94B89;
  --cpd-color-pink-900: #743454;
  --cpd-color-pink-1000: #64324A;
  --cpd-color-pink-1100: #502D3D;
  --cpd-color-pink-1200: #412933;
  --cpd-color-pink-1300: #2D1D23;
  --cpd-color-pink-1400: #26181E;
  --cpd-color-alpha-gray-100: hsla(200, 41%, 36%, 0.04);
  --cpd-color-alpha-gray-200: hsla(216, 89%, 18%, 0.06);
  --cpd-color-alpha-gray-300: hsla(213, 90%, 20%, 0.12);
  --cpd-color-alpha-gray-400: hsla(215, 88%, 17%, 0.16);
  --cpd-color-alpha-gray-500: hsla(212, 97%, 12%, 0.26);
  --cpd-color-alpha-gray-600: hsla(215, 96%, 10%, 0.35);
  --cpd-color-alpha-gray-700: hsla(216, 81%, 10%, 0.48);
  --cpd-color-alpha-gray-800: hsla(217, 89%, 7%, 0.58);
  --cpd-color-alpha-gray-900: hsla(223, 70%, 4%, 0.73);
  --cpd-color-alpha-gray-1000: hsla(220, 75%, 3%, 0.76);
  --cpd-color-alpha-gray-1100: hsla(222, 63%, 3%, 0.8);
  --cpd-color-alpha-gray-1200: hsla(210, 67%, 2%, 0.83);
  --cpd-color-alpha-gray-1300: hsla(218, 100%, 2%, 0.88);
  --cpd-color-alpha-gray-1400: hsla(223, 78%, 2%, 0.9);
  --cpd-color-alpha-red-100: hsla(7, 100%, 56%, 0.04);
  --cpd-color-alpha-red-200: hsla(9, 100%, 54%, 0.08);
  --cpd-color-alpha-red-300: hsla(8, 100%, 52%, 0.15);
  --cpd-color-alpha-red-400: hsla(8, 100%, 51%, 0.21);
  --cpd-color-alpha-red-500: hsla(7, 100%, 51%, 0.36);
  --cpd-color-alpha-red-600: hsla(5, 100%, 51%, 0.5);
  --cpd-color-alpha-red-700: hsla(2, 100%, 50%, 0.72);
  --cpd-color-alpha-red-800: hsla(356, 98%, 44%, 0.89);
  --cpd-color-alpha-red-900: hsl(350, 100%, 30%, 1);
  --cpd-color-alpha-red-1000: hsl(355, 100%, 27%, 1);
  --cpd-color-alpha-red-1100: hsl(0, 100%, 23%, 1);
  --cpd-color-alpha-red-1200: hsl(0, 100%, 20%, 1);
  --cpd-color-alpha-red-1300: hsl(0, 100%, 15%, 1);
  --cpd-color-alpha-red-1400: hsl(0, 100%, 13%, 1);
  --cpd-color-alpha-orange-100: hsla(26, 100%, 55%, 0.07);
  --cpd-color-alpha-orange-200: hsla(24, 100%, 52%, 0.11);
  --cpd-color-alpha-orange-300: hsla(25, 100%, 51%, 0.22);
  --cpd-color-alpha-orange-400: hsla(25, 100%, 52%, 0.3);
  --cpd-color-alpha-orange-500: hsla(26, 98%, 50%, 0.52);
  --cpd-color-alpha-orange-600: hsla(27, 100%, 48%, 0.75);
  --cpd-color-alpha-orange-700: hsl(29, 100%, 44%, 1);
  --cpd-color-alpha-orange-800: hsl(24, 100%, 38%, 1);
  --cpd-color-alpha-orange-900: hsl(9, 100%, 29%, 1);
  --cpd-color-alpha-orange-1000: hsl(4, 100%, 27%, 1);
  --cpd-color-alpha-orange-1100: hsl(0, 100%, 23%, 1);
  --cpd-color-alpha-orange-1200: hsl(0, 100%, 20%, 1);
  --cpd-color-alpha-orange-1300: hsl(0, 100%, 15%, 1);
  --cpd-color-alpha-orange-1400: hsl(0, 100%, 13%, 1);
  --cpd-color-alpha-yellow-100: hsla(46, 100%, 53%, 0.13);
  --cpd-color-alpha-yellow-200: hsla(47, 100%, 51%, 0.25);
  --cpd-color-alpha-yellow-300: hsla(47, 100%, 51%, 0.49);
  --cpd-color-alpha-yellow-400: hsla(48, 100%, 50%, 0.72);
  --cpd-color-alpha-yellow-500: hsl(47, 100%, 47%, 1);
  --cpd-color-alpha-yellow-600: hsl(44, 100%, 44%, 1);
  --cpd-color-alpha-yellow-700: hsl(40, 100%, 38%, 1);
  --cpd-color-alpha-yellow-800: hsl(36, 100%, 33%, 1);
  --cpd-color-alpha-yellow-900: hsl(28, 100%, 23%, 1);
  --cpd-color-alpha-yellow-1000: hsl(27, 100%, 22%, 1);
  --cpd-color-alpha-yellow-1100: hsl(24, 100%, 19%, 1);
  --cpd-color-alpha-yellow-1200: hsl(20, 100%, 17%, 1);
  --cpd-color-alpha-yellow-1300: hsl(10, 100%, 14%, 1);
  --cpd-color-alpha-yellow-1400: hsl(5, 100%, 12%, 1);
  --cpd-color-alpha-lime-100: hsla(107, 89%, 44%, 0.07);
  --cpd-color-alpha-lime-200: hsla(107, 98%, 41%, 0.15);
  --cpd-color-alpha-lime-300: hsla(105, 92%, 42%, 0.28);
  --cpd-color-alpha-lime-400: hsla(105, 95%, 41%, 0.4);
  --cpd-color-alpha-lime-500: hsla(102, 97%, 41%, 0.71);
  --cpd-color-alpha-lime-600: hsla(102, 100%, 37%, 0.86);
  --cpd-color-alpha-lime-700: hsla(106, 99%, 30%, 0.9);
  --cpd-color-alpha-lime-800: hsla(112, 97%, 25%, 0.95);
  --cpd-color-alpha-lime-900: hsl(120, 100%, 17%, 1);
  --cpd-color-alpha-lime-1000: hsl(120, 100%, 16%, 1);
  --cpd-color-alpha-lime-1100: hsl(120, 100%, 13%, 1);
  --cpd-color-alpha-lime-1200: hsl(120, 100%, 11%, 1);
  --cpd-color-alpha-lime-1300: hsl(120, 100%, 8%, 1);
  --cpd-color-alpha-lime-1400: hsl(120, 100%, 7%, 1);
  --cpd-color-alpha-green-100: hsla(150, 79%, 41%, 0.06);
  --cpd-color-alpha-green-200: hsla(150, 100%, 36%, 0.11);
  --cpd-color-alpha-green-300: hsla(151, 93%, 37%, 0.23);
  --cpd-color-alpha-green-400: hsla(153, 95%, 37%, 0.32);
  --cpd-color-alpha-green-500: hsla(156, 99%, 36%, 0.56);
  --cpd-color-alpha-green-600: hsla(163, 99%, 38%, 0.96);
  --cpd-color-alpha-green-700: hsl(166, 100%, 32%, 1);
  --cpd-color-alpha-green-800: hsl(168, 100%, 26%, 1);
  --cpd-color-alpha-green-900: hsl(163, 100%, 17%, 1);
  --cpd-color-alpha-green-1000: hsl(162, 100%, 15%, 1);
  --cpd-color-alpha-green-1100: hsl(160, 100%, 13%, 1);
  --cpd-color-alpha-green-1200: hsl(158, 100%, 11%, 1);
  --cpd-color-alpha-green-1300: hsl(152, 100%, 8%, 1);
  --cpd-color-alpha-green-1400: hsl(147, 100%, 7%, 1);
  --cpd-color-alpha-cyan-100: hsla(186, 79%, 41%, 0.06);
  --cpd-color-alpha-cyan-200: hsla(188, 100%, 38%, 0.11);
  --cpd-color-alpha-cyan-300: hsla(186, 100%, 37%, 0.22);
  --cpd-color-alpha-cyan-400: hsla(187, 97%, 38%, 0.31);
  --cpd-color-alpha-cyan-500: hsla(187, 99%, 38%, 0.54);
  --cpd-color-alpha-cyan-600: hsla(186, 99%, 40%, 0.92);
  --cpd-color-alpha-cyan-700: hsl(193, 100%, 38%, 1);
  --cpd-color-alpha-cyan-800: hsl(199, 100%, 35%, 1);
  --cpd-color-alpha-cyan-900: hsl(205, 100%, 26%, 1);
  --cpd-color-alpha-cyan-1000: hsl(207, 100%, 24%, 1);
  --cpd-color-alpha-cyan-1100: hsl(210, 100%, 22%, 1);
  --cpd-color-alpha-cyan-1200: hsl(212, 100%, 20%, 1);
  --cpd-color-alpha-cyan-1300: hsl(218, 100%, 16%, 1);
  --cpd-color-alpha-cyan-1400: hsl(222, 100%, 15%, 1);
  --cpd-color-alpha-blue-100: hsla(218, 100%, 57%, 0.05);
  --cpd-color-alpha-blue-200: hsla(215, 100%, 52%, 0.09);
  --cpd-color-alpha-blue-300: hsla(216, 95%, 51%, 0.16);
  --cpd-color-alpha-blue-400: hsla(216, 96%, 49%, 0.22);
  --cpd-color-alpha-blue-500: hsla(216, 95%, 48%, 0.37);
  --cpd-color-alpha-blue-600: hsla(215, 98%, 47%, 0.51);
  --cpd-color-alpha-blue-700: hsla(215, 100%, 46%, 0.71);
  --cpd-color-alpha-blue-800: hsla(212, 99%, 46%, 0.99);
  --cpd-color-alpha-blue-900: hsla(217, 98%, 33%, 0.99);
  --cpd-color-alpha-blue-1000: hsla(218, 97%, 30%, 0.99);
  --cpd-color-alpha-blue-1100: hsla(220, 99%, 27%, 0.99);
  --cpd-color-alpha-blue-1200: hsla(222, 100%, 24%, 0.99);
  --cpd-color-alpha-blue-1300: hsl(228, 100%, 21%, 1);
  --cpd-color-alpha-blue-1400: hsl(233, 100%, 19%, 1);
  --cpd-color-alpha-purple-100: hsla(248, 100%, 61%, 0.04);
  --cpd-color-alpha-purple-200: hsla(248, 100%, 55%, 0.07);
  --cpd-color-alpha-purple-300: hsla(248, 100%, 53%, 0.12);
  --cpd-color-alpha-purple-400: hsla(248, 100%, 52%, 0.16);
  --cpd-color-alpha-purple-500: hsla(249, 100%, 51%, 0.27);
  --cpd-color-alpha-purple-600: hsla(251, 100%, 51%, 0.38);
  --cpd-color-alpha-purple-700: hsla(254, 100%, 50%, 0.53);
  --cpd-color-alpha-purple-800: hsla(258, 98%, 49%, 0.7);
  --cpd-color-alpha-purple-900: hsla(261, 97%, 38%, 0.9);
  --cpd-color-alpha-purple-1000: hsla(263, 100%, 36%, 0.95);
  --cpd-color-alpha-purple-1100: hsl(264, 100%, 33%, 1);
  --cpd-color-alpha-purple-1200: hsl(262, 100%, 29%, 1);
  --cpd-color-alpha-purple-1300: hsl(259, 100%, 22%, 1);
  --cpd-color-alpha-purple-1400: hsl(259, 100%, 19%, 1);
  --cpd-color-alpha-fuchsia-100: hsla(293, 95%, 41%, 0.04);
  --cpd-color-alpha-fuchsia-200: hsla(295, 89%, 41%, 0.07);
  --cpd-color-alpha-fuchsia-300: hsla(298, 91%, 40%, 0.13);
  --cpd-color-alpha-fuchsia-400: hsla(296, 95%, 38%, 0.18);
  --cpd-color-alpha-fuchsia-500: hsla(297, 93%, 38%, 0.31);
  --cpd-color-alpha-fuchsia-600: hsla(295, 96%, 37%, 0.43);
  --cpd-color-alpha-fuchsia-700: hsla(295, 97%, 37%, 0.6);
  --cpd-color-alpha-fuchsia-800: hsla(294, 98%, 36%, 0.79);
  --cpd-color-alpha-fuchsia-900: hsla(287, 96%, 27%, 0.9);
  --cpd-color-alpha-fuchsia-1000: hsla(286, 100%, 24%, 0.91);
  --cpd-color-alpha-fuchsia-1100: hsla(285, 97%, 22%, 0.95);
  --cpd-color-alpha-fuchsia-1200: hsl(285, 96%, 22%, 1);
  --cpd-color-alpha-fuchsia-1300: hsl(283, 100%, 16%, 1);
  --cpd-color-alpha-fuchsia-1400: hsl(281, 100%, 15%, 1);
  --cpd-color-alpha-pink-100: hsla(348, 100%, 51%, 0.04);
  --cpd-color-alpha-pink-200: hsla(347, 100%, 54%, 0.08);
  --cpd-color-alpha-pink-300: hsla(347, 100%, 50%, 0.13);
  --cpd-color-alpha-pink-400: hsla(347, 100%, 52%, 0.19);
  --cpd-color-alpha-pink-500: hsla(346, 100%, 51%, 0.33);
  --cpd-color-alpha-pink-600: hsla(345, 100%, 50%, 0.47);
  --cpd-color-alpha-pink-700: hsla(341, 98%, 49%, 0.7);
  --cpd-color-alpha-pink-800: hsla(333, 98%, 44%, 0.96);
  --cpd-color-alpha-pink-900: hsla(331, 100%, 28%, 0.97);
  --cpd-color-alpha-pink-1000: hsla(330, 97%, 26%, 0.98);
  --cpd-color-alpha-pink-1100: hsl(329, 100%, 22%, 1);
  --cpd-color-alpha-pink-1200: hsl(332, 100%, 20%, 1);
  --cpd-color-alpha-pink-1300: hsl(337, 100%, 15%, 1);
  --cpd-color-alpha-pink-1400: hsl(341, 100%, 13%, 1);
  --cpd-color-transparent: rgba(0,0,0,0);
}
