.cpd-theme-light.cpd-theme-light {
  --cpd-color-theme-bg: #ffffff;
  --cpd-color-gray-100: #FAFBFC;
  --cpd-color-gray-200: #F6F8F9;
  --cpd-color-gray-300: #EFF2F5;
  --cpd-color-gray-400: #E3E5EC;
  --cpd-color-gray-500: #CDD3DC;
  --cpd-color-gray-600: #BEC4CF;
  --cpd-color-gray-700: #A6ADBD;
  --cpd-color-gray-800: #80899C;
  --cpd-color-gray-900: #646C82;
  --cpd-color-gray-1000: #555E74;
  --cpd-color-gray-1100: #485065;
  --cpd-color-gray-1200: #3A3F4F;
  --cpd-color-gray-1300: #282D39;
  --cpd-color-gray-1400: #1A1D26;
  --cpd-color-red-100: #FFFAFA;
  --cpd-color-red-200: #FFF6F5;
  --cpd-color-red-300: #FFEEEC;
  --cpd-color-red-400: #FFDEDB;
  --cpd-color-red-500: #FDC5C0;
  --cpd-color-red-600: #FBB0AB;
  --cpd-color-red-700: #FF8B86;
  --cpd-color-red-800: #F74852;
  --cpd-color-red-900: #D02532;
  --cpd-color-red-1000: #BC0F23;
  --cpd-color-red-1100: #9A2126;
  --cpd-color-red-1200: #6B2B29;
  --cpd-color-red-1300: #4B201E;
  --cpd-color-red-1400: #2C1816;
  --cpd-color-orange-100: #FFFBF7;
  --cpd-color-orange-200: #FFF6EF;
  --cpd-color-orange-300: #FFEFE1;
  --cpd-color-orange-400: #FFE0C5;
  --cpd-color-orange-500: #FDC89B;
  --cpd-color-orange-600: #FBB476;
  --cpd-color-orange-700: #F59629;
  --cpd-color-orange-800: #CB7314;
  --cpd-color-orange-900: #A85603;
  --cpd-color-orange-1000: #974700;
  --cpd-color-orange-1100: #7E4012;
  --cpd-color-orange-1200: #5B3620;
  --cpd-color-orange-1300: #402718;
  --cpd-color-orange-1400: #281A15;
  --cpd-color-yellow-100: #FEFBF0;
  --cpd-color-yellow-200: #FEF8E2;
  --cpd-color-yellow-300: #FDF2C9;
  --cpd-color-yellow-400: #FBE49A;
  --cpd-color-yellow-500: #F1D060;
  --cpd-color-yellow-600: #E7BF43;
  --cpd-color-yellow-700: #D2A71B;
  --cpd-color-yellow-800: #AC8312;
  --cpd-color-yellow-900: #8E6402;
  --cpd-color-yellow-1000: #7F5600;
  --cpd-color-yellow-1100: #6B4A11;
  --cpd-color-yellow-1200: #513B20;
  --cpd-color-yellow-1300: #382A18;
  --cpd-color-yellow-1400: #241C14;
  --cpd-color-lime-100: #F9FDEB;
  --cpd-color-lime-200: #F3FCD9;
  --cpd-color-lime-300: #E8F9B7;
  --cpd-color-lime-400: #D9EEA2;
  --cpd-color-lime-500: #C3DC85;
  --cpd-color-lime-600: #B2CE72;
  --cpd-color-lime-700: #96B857;
  --cpd-color-lime-800: #6F943A;
  --cpd-color-lime-900: #4E7723;
  --cpd-color-lime-1000: #416819;
  --cpd-color-lime-1100: #39591F;
  --cpd-color-lime-1200: #304526;
  --cpd-color-lime-1300: #21311B;
  --cpd-color-lime-1400: #182015;
  --cpd-color-green-100: #F6FDF8;
  --cpd-color-green-200: #EEFBF2;
  --cpd-color-green-300: #E0F8E8;
  --cpd-color-green-400: #C2F0D4;
  --cpd-color-green-500: #A3E0BE;
  --cpd-color-green-600: #93D1B0;
  --cpd-color-green-700: #76BA9D;
  --cpd-color-green-800: #53957F;
  --cpd-color-green-900: #387765;
  --cpd-color-green-1000: #2B6859;
  --cpd-color-green-1100: #2B584E;
  --cpd-color-green-1200: #2A4440;
  --cpd-color-green-1300: #1F302D;
  --cpd-color-green-1400: #171F1E;
  --cpd-color-cyan-100: #F9FCFF;
  --cpd-color-cyan-200: #F3F8FF;
  --cpd-color-cyan-300: #E9F3FF;
  --cpd-color-cyan-400: #D3E7FF;
  --cpd-color-cyan-500: #B5D5FD;
  --cpd-color-cyan-600: #9DC7FA;
  --cpd-color-cyan-700: #79AFF4;
  --cpd-color-cyan-800: #498ADE;
  --cpd-color-cyan-900: #326CBC;
  --cpd-color-cyan-1000: #265DA9;
  --cpd-color-cyan-1100: #27508C;
  --cpd-color-cyan-1200: #284061;
  --cpd-color-cyan-1300: #1E2D45;
  --cpd-color-cyan-1400: #161E29;
  --cpd-color-blue-100: #FAFBFF;
  --cpd-color-blue-200: #F6F8FF;
  --cpd-color-blue-300: #EFF1FF;
  --cpd-color-blue-400: #DDE5FF;
  --cpd-color-blue-500: #C6D1FD;
  --cpd-color-blue-600: #B2C1FB;
  --cpd-color-blue-700: #92A8FF;
  --cpd-color-blue-800: #6480F7;
  --cpd-color-blue-900: #3E5DE7;
  --cpd-color-blue-1000: #304DDE;
  --cpd-color-blue-1100: #2743BC;
  --cpd-color-blue-1200: #243A80;
  --cpd-color-blue-1300: #192B58;
  --cpd-color-blue-1400: #141D32;
  --cpd-color-purple-100: #FCFBFF;
  --cpd-color-purple-200: #FAF6FF;
  --cpd-color-purple-300: #F6EFFF;
  --cpd-color-purple-400: #EEE0FF;
  --cpd-color-purple-500: #E0C9FC;
  --cpd-color-purple-600: #D6B6FB;
  --cpd-color-purple-700: #C996FE;
  --cpd-color-purple-800: #AF66F1;
  --cpd-color-purple-900: #943FDB;
  --cpd-color-purple-1000: #8430C7;
  --cpd-color-purple-1100: #6D32A1;
  --cpd-color-purple-1200: #50316D;
  --cpd-color-purple-1300: #38244D;
  --cpd-color-purple-1400: #231A2C;
  --cpd-color-fuchsia-100: #fefafe;
  --cpd-color-fuchsia-200: #fcf5fd;
  --cpd-color-fuchsia-300: #faeefb;
  --cpd-color-fuchsia-400: #f6dff7;
  --cpd-color-fuchsia-500: #edc6f0;
  --cpd-color-fuchsia-600: #e7b2ea;
  --cpd-color-fuchsia-700: #db93e1;
  --cpd-color-fuchsia-800: #c85ed1;
  --cpd-color-fuchsia-900: #ad33bd;
  --cpd-color-fuchsia-1000: #972aaa;
  --cpd-color-fuchsia-1100: #822198;
  --cpd-color-fuchsia-1200: #671481;
  --cpd-color-fuchsia-1300: #4e0068;
  --cpd-color-fuchsia-1400: #34004c;
  --cpd-color-pink-100: #FFFAFD;
  --cpd-color-pink-200: #FFF5FB;
  --cpd-color-pink-300: #FFEDF7;
  --cpd-color-pink-400: #FFDCEF;
  --cpd-color-pink-500: #FAC3E1;
  --cpd-color-pink-600: #F3AFD6;
  --cpd-color-pink-700: #ED8EC4;
  --cpd-color-pink-800: #D45FA3;
  --cpd-color-pink-900: #B14381;
  --cpd-color-pink-1000: #9F3670;
  --cpd-color-pink-1100: #84345E;
  --cpd-color-pink-1200: #5E3147;
  --cpd-color-pink-1300: #422331;
  --cpd-color-pink-1400: #28191F;
  --cpd-color-alpha-gray-100: hsla(210, 48%, 41%, 0.02);
  --cpd-color-alpha-gray-200: hsla(200, 41%, 36%, 0.04);
  --cpd-color-alpha-gray-300: hsla(216, 89%, 18%, 0.06);
  --cpd-color-alpha-gray-400: hsla(213, 90%, 20%, 0.12);
  --cpd-color-alpha-gray-500: hsla(212, 87%, 15%, 0.2);
  --cpd-color-alpha-gray-600: hsla(212, 97%, 12%, 0.26);
  --cpd-color-alpha-gray-700: hsla(215, 96%, 10%, 0.35);
  --cpd-color-alpha-gray-800: hsla(213, 87%, 9%, 0.5);
  --cpd-color-alpha-gray-900: hsla(213, 83%, 7%, 0.61);
  --cpd-color-alpha-gray-1000: hsla(218, 79%, 6%, 0.66);
  --cpd-color-alpha-gray-1100: hsla(215, 74%, 5%, 0.71);
  --cpd-color-alpha-gray-1200: hsla(213, 73%, 3%, 0.77);
  --cpd-color-alpha-gray-1300: hsla(225, 57%, 3%, 0.84);
  --cpd-color-alpha-gray-1400: hsla(223, 64%, 2%, 0.9);
  --cpd-color-alpha-red-100: hsla(0,100%,51%,0.02);
  --cpd-color-alpha-red-200: hsla(6,100%,51%,0.04);
  --cpd-color-alpha-red-300: hsla(6,100%,54%,0.08);
  --cpd-color-alpha-red-400: hsla(5,100%,53%,0.15);
  --cpd-color-alpha-red-500: hsla(5,98%,49%,0.25);
  --cpd-color-alpha-red-600: hsla(4,100%,48%,0.33);
  --cpd-color-alpha-red-700: hsla(2,100%,51%,0.48);
  --cpd-color-alpha-red-800: hsla(357,99%,48%,0.72);
  --cpd-color-alpha-red-900: hsla(355,98%,40%,0.86);
  --cpd-color-alpha-red-1000: hsla(353,98%,37%,0.95);
  --cpd-color-alpha-red-1100: hsla(358,96%,28%,0.88);
  --cpd-color-alpha-red-1200: hsla(2,100%,16%,0.84);
  --cpd-color-alpha-red-1300: hsla(2,93%,11%,0.89);
  --cpd-color-alpha-red-1400: hsla(5,86%,6%,0.92);
  --cpd-color-alpha-orange-100: hsla(30,100%,61%,0.04);
  --cpd-color-alpha-orange-200: hsla(26,100%,55%,0.07);
  --cpd-color-alpha-orange-300: hsla(28,100%,51%,0.12);
  --cpd-color-alpha-orange-400: hsla(28,100%,51%,0.23);
  --cpd-color-alpha-orange-500: hsla(28,96%,50%,0.4);
  --cpd-color-alpha-orange-600: hsla(28,99%,49%,0.54);
  --cpd-color-alpha-orange-700: hsla(32,100%,48%,0.84);
  --cpd-color-alpha-orange-800: hsla(31,98%,39%,0.93);
  --cpd-color-alpha-orange-900: hsla(30,100%,33%,0.99);
  --cpd-color-alpha-orange-1000: hsla(28,100%,30%,1);
  --cpd-color-alpha-orange-1100: hsla(26,100%,23%,0.93);
  --cpd-color-alpha-orange-1200: hsla(22,94%,14%,0.88);
  --cpd-color-alpha-orange-1300: hsla(23,96%,9%,0.91);
  --cpd-color-alpha-orange-1400: hsla(15,91%,4%,0.92);
  --cpd-color-alpha-yellow-100: hsla(47,96%,48%,0.06);
  --cpd-color-alpha-yellow-200: hsla(47,94%,51%,0.12);
  --cpd-color-alpha-yellow-300: hsla(47,93%,50%,0.22);
  --cpd-color-alpha-yellow-400: hsla(46,98%,49%,0.4);
  --cpd-color-alpha-yellow-500: hsla(46,98%,46%,0.63);
  --cpd-color-alpha-yellow-600: hsla(45,99%,44%,0.74);
  --cpd-color-alpha-yellow-700: hsla(46,98%,41%,0.9);
  --cpd-color-alpha-yellow-800: hsla(44,100%,33%,0.93);
  --cpd-color-alpha-yellow-900: hsla(42,97%,28%,1);
  --cpd-color-alpha-yellow-1000: hsla(41,100%,25%,1);
  --cpd-color-alpha-yellow-1100: hsla(38,96%,20%,0.94);
  --cpd-color-alpha-yellow-1200: hsla(33,93%,12%,0.88);
  --cpd-color-alpha-yellow-1300: hsla(34,95%,7%,0.91);
  --cpd-color-alpha-yellow-1400: hsla(30,82%,4%,0.93);
  --cpd-color-alpha-lime-100: hsla(73,96%,46%,0.08);
  --cpd-color-alpha-lime-200: hsla(75,98%,47%,0.15);
  --cpd-color-alpha-lime-300: hsla(75,94%,47%,0.29);
  --cpd-color-alpha-lime-400: hsla(77,96%,42%,0.37);
  --cpd-color-alpha-lime-500: hsla(77,99%,36%,0.48);
  --cpd-color-alpha-lime-600: hsla(78,97%,34%,0.56);
  --cpd-color-alpha-lime-700: hsla(81,100%,29%,0.66);
  --cpd-color-alpha-lime-800: hsla(85,97%,24%,0.78);
  --cpd-color-alpha-lime-900: hsla(89,96%,20%,0.87);
  --cpd-color-alpha-lime-1000: hsla(90,96%,18%,0.91);
  --cpd-color-alpha-lime-1100: hsla(93,100%,13%,0.88);
  --cpd-color-alpha-lime-1200: hsla(102,86%,8%,0.86);
  --cpd-color-alpha-lime-1300: hsla(105,86%,6%,0.9);
  --cpd-color-alpha-lime-1400: hsla(105,86%,3%,0.92);
  --cpd-color-alpha-green-100: hsla(137,75%,46%,0.04);
  --cpd-color-alpha-green-200: hsla(138,89%,41%,0.07);
  --cpd-color-alpha-green-300: hsla(140,84%,43%,0.13);
  --cpd-color-alpha-green-400: hsla(143,99%,38%,0.24);
  --cpd-color-alpha-green-500: hsla(147,93%,35%,0.37);
  --cpd-color-alpha-green-600: hsla(148,95%,30%,0.43);
  --cpd-color-alpha-green-700: hsla(155,98%,25%,0.54);
  --cpd-color-alpha-green-800: hsla(160,96%,20%,0.68);
  --cpd-color-alpha-green-900: hsla(163,93%,17%,0.79);
  --cpd-color-alpha-green-1000: hsla(165,92%,15%,0.84);
  --cpd-color-alpha-green-1100: hsla(166,90%,12%,0.84);
  --cpd-color-alpha-green-1200: hsla(172,94%,7%,0.84);
  --cpd-color-alpha-green-1300: hsla(168,100%,4%,0.88);
  --cpd-color-alpha-green-1400: hsla(173,100%,2%,0.91);
  --cpd-color-alpha-cyan-100: hsla(210,100%,61%,0.03);
  --cpd-color-alpha-cyan-200: hsla(215,100%,53%,0.05);
  --cpd-color-alpha-cyan-300: hsla(213,100%,52%,0.09);
  --cpd-color-alpha-cyan-400: hsla(213,100%,52%,0.18);
  --cpd-color-alpha-cyan-500: hsla(213,95%,50%,0.3);
  --cpd-color-alpha-cyan-600: hsla(213,97%,48%,0.39);
  --cpd-color-alpha-cyan-700: hsla(214,98%,46%,0.53);
  --cpd-color-alpha-cyan-800: hsla(214,98%,41%,0.72);
  --cpd-color-alpha-cyan-900: hsla(215,98%,34%,0.81);
  --cpd-color-alpha-cyan-1000: hsla(215,96%,31%,0.86);
  --cpd-color-alpha-cyan-1100: hsla(216,98%,24%,0.85);
  --cpd-color-alpha-cyan-1200: hsla(215,94%,14%,0.85);
  --cpd-color-alpha-cyan-1300: hsla(217,92%,9%,0.89);
  --cpd-color-alpha-cyan-1400: hsla(216,83%,5%,0.92);
  --cpd-color-alpha-blue-100: hsla(228,100%,51%,0.02);
  --cpd-color-alpha-blue-200: hsla(227,100%,56%,0.04);
  --cpd-color-alpha-blue-300: hsla(232,100%,55%,0.07);
  --cpd-color-alpha-blue-400: hsla(226,100%,52%,0.14);
  --cpd-color-alpha-blue-500: hsla(228,95%,50%,0.23);
  --cpd-color-alpha-blue-600: hsla(228,94%,49%,0.31);
  --cpd-color-alpha-blue-700: hsla(228,100%,50%,0.43);
  --cpd-color-alpha-blue-800: hsla(229,99%,48%,0.61);
  --cpd-color-alpha-blue-900: hsla(229,99%,44%,0.76);
  --cpd-color-alpha-blue-1000: hsla(230,97%,43%,0.82);
  --cpd-color-alpha-blue-1100: hsla(229,99%,35%,0.85);
  --cpd-color-alpha-blue-1200: hsla(225,100%,21%,0.86);
  --cpd-color-alpha-blue-1300: hsla(223,95%,14%,0.91);
  --cpd-color-alpha-blue-1400: hsla(222,89%,7%,0.93);
  --cpd-color-alpha-purple-100: hsla(255,100%,61%,0.02);
  --cpd-color-alpha-purple-200: hsla(267,100%,56%,0.04);
  --cpd-color-alpha-purple-300: hsla(266,100%,55%,0.07);
  --cpd-color-alpha-purple-400: hsla(267,100%,53%,0.13);
  --cpd-color-alpha-purple-500: hsla(267,92%,49%,0.22);
  --cpd-color-alpha-purple-600: hsla(268,98%,48%,0.29);
  --cpd-color-alpha-purple-700: hsla(269,98%,51%,0.42);
  --cpd-color-alpha-purple-800: hsla(272,100%,46%,0.6);
  --cpd-color-alpha-purple-900: hsla(273,98%,41%,0.76);
  --cpd-color-alpha-purple-1000: hsla(273,97%,37%,0.82);
  --cpd-color-alpha-purple-1100: hsla(272,97%,28%,0.81);
  --cpd-color-alpha-purple-1200: hsla(271,97%,15%,0.81);
  --cpd-color-alpha-purple-1300: hsla(270,100%,9%,0.86);
  --cpd-color-alpha-purple-1400: hsla(270,91%,4%,0.9);
  --cpd-color-alpha-fuchsia-100: hsla(300,95%,41%,0.02);
  --cpd-color-alpha-fuchsia-200: hsla(293,95%,41%,0.04);
  --cpd-color-alpha-fuchsia-300: hsla(295,89%,41%,0.07);
  --cpd-color-alpha-fuchsia-400: hsla(298,91%,40%,0.13);
  --cpd-color-alpha-fuchsia-500: hsla(296,93%,39%,0.23);
  --cpd-color-alpha-fuchsia-600: hsla(297,93%,38%,0.31);
  --cpd-color-alpha-fuchsia-700: hsla(295,96%,37%,0.43);
  --cpd-color-alpha-fuchsia-800: hsla(295,97%,37%,0.64);
  --cpd-color-alpha-fuchsia-900: hsla(293,100%,34%,0.8);
  --cpd-color-alpha-fuchsia-1000: hsla(291,99%,30%,0.84);
  --cpd-color-alpha-fuchsia-1100: hsla(289,96%,28%,0.88);
  --cpd-color-alpha-fuchsia-1200: hsla(286,97%,24%,0.93);
  --cpd-color-alpha-fuchsia-1300: hsla(285,100%,20%,1);
  --cpd-color-alpha-fuchsia-1400: hsla(281,100%,15%,1);
  --cpd-color-alpha-pink-100: hsla(324,100%,51%,0.02);
  --cpd-color-alpha-pink-200: hsla(324,100%,51%,0.04);
  --cpd-color-alpha-pink-300: hsla(327,100%,56%,0.08);
  --cpd-color-alpha-pink-400: hsla(327,100%,51%,0.14);
  --cpd-color-alpha-pink-500: hsla(327,96%,47%,0.24);
  --cpd-color-alpha-pink-600: hsla(326,96%,44%,0.32);
  --cpd-color-alpha-pink-700: hsla(326,96%,43%,0.45);
  --cpd-color-alpha-pink-800: hsla(325,99%,37%,0.63);
  --cpd-color-alpha-pink-900: hsla(326,99%,30%,0.74);
  --cpd-color-alpha-pink-1000: hsla(327,99%,26%,0.79);
  --cpd-color-alpha-pink-1100: hsla(328,98%,20%,0.8);
  --cpd-color-alpha-pink-1200: hsla(331,97%,11%,0.81);
  --cpd-color-alpha-pink-1300: hsla(333,90%,8%,0.87);
  --cpd-color-alpha-pink-1400: hsla(335,81%,4%,0.91);
  --cpd-color-transparent: rgba(0,0,0,0);
}
